In [1]:
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('naked_df.csv')
df = df.sort_values(by=['con'])
df = df.set_index(['con', 'hip'])
df

                  id        hd  hr   gl   bf proper         ra        dec  \
con hip
And 114642.0  114280       NaN NaN  NaN  NaN    NaN  23.224074  35.762021
    9194.0      9175   11951.0 NaN  NaN  NaN    NaN   1.972931  43.621980
    3251.0      3244    3858.0 NaN  NaN  NaN    NaN   0.690387  28.042635
    117691.0  117323       NaN NaN  NaN  NaN    NaN  23.868756  37.850250
    115461.0  115096       NaN NaN  NaN  NaN    NaN  23.388891  43.101533
...              ...       ...  ..  ...  ...    ...        ...        ...
Vul 97057.0    96750  344787.0 NaN  NaN  NaN    NaN  19.724830  23.177959
    100983.0  100657  334488.0 NaN  NaN  NaN    NaN  20.474322  28.954089
    101743.0  101416  346992.0 NaN  NaN  NaN    NaN  20.621383  23.895299
    98386.0    98075  333327.0 NaN  NaN  NaN    NaN  19.990121  28.241549
    102331.0  102000  197573.0 NaN  NaN  NaN    NaN  20.733344  21.400658

                     dist    mag  spect bayer  flam           lum
con hip
And 114642.0     293.2551   8.65     K0   NaN   NaN  2.596570e+01
    9194.0       343.6426   7.65     A0   NaN   NaN  8.961898e+01
    3251.0       390.6250   7.89     A5   NaN   NaN  9.281112e+01
    117691.0  100000.0000   8.73     M5   NaN   NaN  2.805434e+06
    115461.0     338.9831   9.41     A2   NaN   NaN  1.723455e+01
...                   ...    ...    ...   ...   ...           ...
Vul 97057.0   100000.0000   9.31   F8Ib   NaN   NaN  1.644372e+06
    100983.0     393.7008   8.73  G8III   NaN   NaN  4.349106e+01
    101743.0     434.7826  11.79     A2   NaN   NaN  3.165192e+00
    98386.0      196.4637   9.48     F8   NaN   NaN  5.425003e+00
    102331.0     105.9322   7.18     A2   NaN   NaN  1.312200e+01

[117951 rows x 14 columns]

In [3]:
# 'Ret', 'Cam', 'Men', 'Tau', 'Dor', 'Cae', 'Pic', 'Aur', 'Ori',
# 'Lep', 'Col', 'Mon', 'Gem', 'Car', 'Pup', 'CMa', 'Lyn', 'Vol',

In [4]:
# ===================================== 1
# Ret = Reticulum (сетка)

In [5]:
Ret = df.xs('Ret', level='con')
Ret = Ret.loc[[19780, 17440, 18597, 19921]]
Ret['con'] = 'Ret'

In [6]:
Ret.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
19780.0,19730,27256.0,1336.0,NaN,Alp Ret,NaN,4.240404,-62.473858,49.5540,3.33,G7III,Alp,NaN,99.540542,Ret
17440.0,17398,23817.0,1175.0,Gl 154.2,Bet Ret,NaN,3.736593,-64.806903,29.8597,3.84,K0IV SB,Bet,NaN,22.594358,Ret
18597.0,18550,25422.0,1247.0,NaN,Del Ret,NaN,3.979095,-61.400185,161.2903,4.56,M2III,Del,NaN,339.781712,Ret
19921.0,19871,27442.0,1355.0,Gl 167.3,Eps Ret,NaN,4.274738,-59.302156,18.2382,4.44,K2IV,Eps,NaN,4.852885,Ret

In [7]:
Ret_con = ((19780, 17440), (17440, 18597), (18597, 19921), (19921, 19780))

In [8]:
# ===================================== 2
# Cam = Camelopardalis (жираф)

In [9]:
Cam = df.xs('Cam', level='con')
Cam = Cam.loc[[16228, 22783, 17959, 25110]]
Cam['con'] = 'Cam'

In [10]:
Cam.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
22783.0,22730,30614.0,1542.0,NaN,9Alp Cam,NaN,4.900836,66.342678,100000.0000,4.26,O9.5Ia SB:,Alp,9.0,1.721869e+08,Cam
17959.0,17917,23401.0,1148.0,NaN,Gam Cam,NaN,3.839302,71.332266,110.0110,4.59,A2IVn,Gam,NaN,1.537446e+02,Cam
16228.0,16187,21291.0,1035.0,NaN,NaN,NaN,3.484482,59.940330,595.2381,4.21,B9Ia,NaN,NaN,6.385575e+03,Cam
25110.0,25047,33564.0,1686.0,Gl 196,NaN,NaN,5.376036,79.231149,20.8855,5.08,F6V,NaN,NaN,3.528580e+00,Cam

In [11]:
Cam_con = ((16228, 22783), (22783, 17959), (17959, 25110), (17959, 16228))

In [12]:
# ===================================== 3
# Men = Mensa (столовая гора)

In [13]:
Men = df.xs('Men', level='con')
Men = Men.loc[[25918, 21949]]
Men['con'] = 'Men'

In [14]:
Men.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
25918.0,25853,37763.0,1953.0,NaN,Gam Men,NaN,5.531318,-76.340964,31.3578,5.18,K4III,Gam,NaN,7.257717,Men
21949.0,21896,30612.0,1541.0,NaN,Mu Men,NaN,4.717764,-70.931027,150.6024,5.53,B9IV,Mu,NaN,121.227179,Men

In [15]:
Men_con = ((25918, 21949))

In [16]:
# ===================================== 4
# Tau = Taurus (телец)

In [17]:
Tau = df.xs('Tau', level='con')
Tau = Tau.loc[[26451, 21421, 20894, 20205, 18724, 15900, 25428, 21881, 20889, 20648, 20455, 17847]]
Tau['con'] = 'Tau'

In [18]:
Tau.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
21421.0,21368,29139.0,1457.0,Gl 171.1A,87Alp Tau,Aldebaran,4.598677,16.509301,20.4332,0.87,K5III,Alp,87.0,163.230007,Tau
25428.0,25364,35497.0,1791.0,NaN,112Bet Tau,Elnath,5.438198,28.607450,41.0509,1.65,B7III,Bet,112.0,321.218093,Tau
20455.0,20405,27697.0,1373.0,NaN,61Del1Tau,Secunda Hyadum,4.382247,17.542514,47.7099,3.77,G8III,Del-1,61.0,61.546024,Tau
20648.0,20597,27962.0,1389.0,NaN,68Del3Tau,NaN,4.424828,17.927910,45.5373,4.30,A2IV,Del-3,68.0,34.419139,Tau
20889.0,20837,28305.0,1409.0,NaN,74Eps Tau,Ain,4.476943,19.180431,44.9640,3.53,K0III,Eps,74.0,68.171053,Tau
20205.0,20155,27371.0,1346.0,NaN,54Gam Tau,Prima Hyadum,4.329889,15.627642,49.5295,3.65,G8III,Gam,54.0,74.062778,Tau
18724.0,18677,25204.0,1239.0,NaN,35Lam Tau,NaN,4.011338,12.490347,148.3680,3.41,B3V + A,Lam,35.0,829.468695,Tau
15900.0,15861,21120.0,1030.0,NaN,1Omi Tau,NaN,3.413554,9.028870,89.2061,3.61,G8III,Omi,1.0,249.344619,Tau
21881.0,21828,29763.0,1497.0,NaN,94Tau Tau,NaN,4.704084,22.956926,122.1001,4.27,B3V,Tau,94.0,254.448562,Tau
20894.0,20842,28319.0,1412.0,NaN,78The2Tau,Chamukuy,4.477705,15.870883,46.1042,3.40,A7III,The-2,78.0,80.835104,Tau
26451.0,26386,37202.0,1910.0,NaN,123Zet Tau,Tianguan,5.627413,21.142549,136.4256,2.97,B4IIIp,Zet,123.0,1050.993427,Tau
17847.0,17805,23850.0,1178.0,NaN,27 Tau,Atlas,3.819373,24.053415,117.2333,3.62,B8III,NaN,27.0,426.579519,Tau

In [19]:
Tau_con = ((26451, 21421), (21421, 20894), (20894, 20205), (20205, 18724), (18724, 15900),
          (25428, 21881), (21881, 20889), (20889, 20648), (20648, 20455), (20455, 17847),
          (21421, 20889), (20205, 20455))

In [20]:
# ===================================== 5
# Dor = Dorado (золотая рыба)

In [21]:
Dor = df.xs('Dor', level='con')
Dor = Dor.loc[[19893, 21281, 26069, 27890, 27100]]
Dor['con'] = 'Dor'

In [22]:
Dor.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
21281.0,21228,29305.0,1465.0,NaN,Alp Dor,NaN,4.566598,-55.044975,51.7063,3.30,A0V:,Alp,NaN,111.480780,Dor
26069.0,26004,37350.0,1922.0,NaN,Bet Dor,NaN,5.560421,-62.489825,308.6420,3.76,F6Ia,Bet,NaN,2598.962421,Dor
27100.0,27034,39014.0,2015.0,NaN,Del Dor,NaN,5.746223,-65.735526,45.8716,4.34,A7V,Del,NaN,33.666657,Dor
19893.0,19843,27290.0,1338.0,Gl 167.1,Gam Dor,NaN,4.267097,-51.486648,20.4625,4.26,F4III,Gam,NaN,7.211075,Dor
27890.0,27821,40409.0,2102.0,Gl 224.1,NaN,NaN,5.901658,-63.089627,26.2467,4.65,K1III/IV,NaN,NaN,8.279422,Dor

In [23]:
Dor_con = ((19893, 21281), (21281, 26069), (26069, 27890), (27890, 27100), (27100, 26069))

In [24]:
# ===================================== 6
# Cae = Caerum (резец)

In [25]:
Cae = df.xs('Cae', level='con')
Cae = Cae.loc[[21861, 21770, 21060]]
Cae['con'] = 'Cae'

In [26]:
Cae.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
21770.0,21717,29875.0,1502.0,Gl 174.1A,Alp Cae,NaN,4.676039,-41.863752,20.1654,4.44,F2V,Alp,NaN,5.931984,Cae
21861.0,21808,29992.0,1503.0,Gl 176.1,Bet Cae,NaN,4.700965,-37.144297,28.6697,5.04,F3V,Bet,NaN,6.899220,Cae
21060.0,21008,28873.0,1443.0,NaN,Del Cae,NaN,4.513916,-44.953749,215.9827,5.07,B2IV-V,Del,NaN,380.890376,Cae

In [27]:
Cae_con = ((21861, 21770), (21770, 21060))

In [28]:
# ===================================== 7
# Pic = Pictor (живописец)

In [29]:
Pic = df.xs('Pic', level='con')
Pic = Pic.loc[[32607, 27530, 27321]]
Pic['con'] = 'Pic'

In [30]:
Pic.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
32607.0,32521,50241.0,2550.0,Gl 248,Alp Pic,NaN,6.803194,-61.941391,29.6033,3.24,A7IV,Alp,NaN,38.618909,Pic
27321.0,27253,39060.0,2020.0,Gl 219,Bet Pic,NaN,5.788079,-51.066514,19.4401,3.85,A3V,Bet,NaN,9.488553,Pic
27530.0,27461,39523.0,2042.0,NaN,Gam Pic,NaN,5.830451,-56.166663,54.2005,4.50,K1III,Gam,NaN,40.550854,Pic

In [31]:
Pic_con = ((32607, 27530), (27530, 27321))

In [32]:
# ===================================== 8
# Aur = Auriga (возничий)

In [33]:
Aur = df.xs('Aur', level='con')
Aur = Aur.loc[[28380, 28360, 24608, 23453, 23015]]
Aur = pd.concat([Aur, df.loc['Tau', 25428].to_frame().T], ignore_index=False)
Aur = Aur.rename(index={('Tau', 25428): 25428})
Aur['con'] = 'Aur'

In [34]:
Aur.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
24608.0,24549,34029.0,1708.0,Gl 194A,13Alp Aur,Capella,5.27815,45.997991,13.1234,0.08,M1: comp,Alp,13.0,139.31568,Aur
28360.0,28288,40183.0,2088.0,GJ 3375,34Bet Aur,Menkalinan,5.992149,44.947433,24.8694,1.9,A2V,Bet,34.0,93.583654,Aur
25428.0,25364,35497.0,1791.0,NaN,112Bet Tau,Elnath,5.438198,28.60745,41.0509,1.65,B7III,Bet,112.0,321.218093,Aur
23015.0,22961,31398.0,1577.0,NaN,3Iot Aur,Hassaleh,4.949894,33.16609,151.2859,2.69,K3IIvar,Iot,3.0,1673.400907,Aur
28380.0,28309,40312.0,2095.0,NaN,37The Aur,Mahasim,5.995351,37.212585,50.7614,2.65,A0p Si,The,37.0,195.523967,Aur
23453.0,23398,32068.0,1612.0,NaN,8Zet Aur,Saclateni,5.041301,41.075837,240.9639,3.69,K4II comp,Zet,8.0,1690.440932,Aur

In [35]:
Aur_con = ((28380, 28360), (28360, 24608), (24608, 23453), (23453, 23015), (23015, 28380))

In [36]:
# ===================================== 9
# Ori = Orion (орион)

In [37]:
Ori = df.xs('Ori', level='con')
Ori = Ori.loc[[24436, 27366, 26727, 26311, 25930, 25336, 26207, 27989, 23123, 22730, 22549, 22449, 22509, 22845, 28614, 29038, 27913, 28716, 29434, 29426]]
Ori['con'] = 'Ori'

In [38]:
Ori.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
27989.0,27919,39801.0,2061.0,NaN,58Alp Ori,Betelgeuse,5.919529,7.407063,152.6718,0.45,M2Ib,Alp,58.0,13415.287983,Ori
24436.0,24378,34085.0,1713.0,NaN,19Bet Ori,Rigel,5.242298,-8.201640,264.5503,0.18,B8Ia,Bet,19.0,51665.424257,Ori
27913.0,27844,39587.0,2047.0,Gl 222A,54Chi1Ori,NaN,5.906386,20.276174,8.6633,4.39,G0V,Chi-1,54.0,1.146041,Ori
28716.0,28645,41117.0,2135.0,NaN,62Chi2Ori,NaN,6.065329,20.138452,552.4862,4.64,B2Iavar,Chi-2,62.0,3705.100563,Ori
25930.0,25865,36486.0,1852.0,NaN,34Del Ori,Mintaka,5.533445,-0.299092,212.3142,2.25,O9.5II,Del,34.0,4943.106870,Ori
26311.0,26246,37128.0,1903.0,NaN,46Eps Ori,Alnilam,5.603559,-1.201920,606.0606,1.69,B0Ia,Eps,46.0,67483.873087,Ori
25336.0,25273,35468.0,1790.0,NaN,24Gam Ori,Bellatrix,5.418851,6.349702,77.3994,1.64,B2III,Gam,24.0,1152.391377,Ori
27366.0,27298,38771.0,2004.0,NaN,53Kap Ori,Saiph,5.795941,-9.669605,198.4127,2.07,B0.5Iavar,Kap,53.0,5095.654806,Ori
26207.0,26142,36861.0,1879.0,NaN,39Lam Ori,Meissa,5.585633,9.934158,336.7003,3.39,O...,Lam,39.0,4349.106072,Ori
28614.0,28543,40932.0,2124.0,NaN,61Mu Ori,NaN,6.039722,9.647276,47.5059,4.12,Am...,Mu,61.0,44.218092,Ori
29038.0,28966,41753.0,2159.0,NaN,67Nu Ori,NaN,6.126201,14.768472,158.2278,4.42,B3IV,Nu,67.0,371.877583,Ori
22845.0,22792,31295.0,1570.0,NaN,7Pi 1Ori,NaN,4.914924,10.150833,35.6633,4.64,A0V,Pi-1,7.0,15.431211,Ori
22509.0,22456,30739.0,1544.0,NaN,2Pi 2Ori,NaN,4.843534,8.900176,68.8231,4.35,A1Vn,Pi-2,2.0,75.093094,Ori
22449.0,22396,30652.0,1543.0,Gl 178,1Pi 3Ori,Tabit,4.830669,6.961276,8.0684,3.19,F6V,Pi-3,1.0,3.003309,Ori
22549.0,22496,30836.0,1552.0,NaN,3Pi 4Ori,NaN,4.853434,5.605104,322.5806,3.68,B2III SB,Pi-4,3.0,3056.328280,Ori
23123.0,23069,31767.0,1601.0,NaN,10Pi 6Ori,NaN,4.975806,1.714016,289.8551,4.47,K2IIvar,Pi-6,10.0,1192.339688,Ori
29426.0,29353,42560.0,2199.0,NaN,70Xi Ori,NaN,6.198999,14.208765,186.2197,4.45,B3IV,Xi,70.0,501.187234,Ori
26727.0,26662,37742.0,1948.0,NaN,50Zet Ori,Alnitak,5.679313,-1.942572,225.7336,1.74,O9.5Ib SB,Zet,50.0,8937.169609,Ori
22730.0,22677,31139.0,1562.0,NaN,5 Ori,NaN,4.889659,2.508225,181.1594,5.33,M1III,NaN,5.0,210.862815,Ori
29434.0,29361,42545.0,2198.0,NaN,69 Ori,NaN,6.200911,16.130406,162.0746,4.95,B5Vn,NaN,69.0,239.662453,Ori

In [39]:
Ori_con = ((24436, 27366), (27366, 26727), (26727, 26311), (26311, 25930), (25930, 24436),
          (25930, 25336), (25336, 26207), (26207, 27989), (27989, 26727),
          (23123, 22730), (22730, 22549), (22549, 22449), (22449, 22509), (22509, 22845), (25336, 22449),
          (27989, 28614), (28614, 29038), (29038, 27913), (27913, 28716), (28716, 29434), (29434, 29426), (29426, 28614), (29038, 29426)) #23

In [40]:
# ===================================== 10
# Lep = Lepus (заяц)

In [41]:
Lep = df.xs('Lep', level='con')
Lep = Lep.loc[[24873, 24845, 24305, 23685, 24244, 24327, 25985, 25606, 27072, 27654, 28910, 28103, 27288]]
Lep['con'] = 'Lep'

In [42]:
Lep.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
25985.0,25920,36673.0,1865.0,NaN,11Alp Lep,Arneb,5.545504,-17.822289,680.2721,2.58,F0Ib,Alp,11.0,37428.291224,Lep
25606.0,25542,36079.0,1829.0,NaN,9Bet Lep,Nihal,5.470756,-20.759441,49.1642,2.81,G5II,Bet,9.0,158.197640,Lep
27654.0,27585,39364.0,2035.0,NaN,15Del Lep,NaN,5.855357,-20.879089,34.8675,3.76,G8III/IV,Del,15.0,33.174165,Lep
23685.0,23630,32887.0,1654.0,NaN,2Eps Lep,NaN,5.091018,-22.371032,65.4022,3.19,K4III,Eps,2.0,197.333128,Lep
28103.0,28032,40136.0,2085.0,Gl 225,16Eta Lep,NaN,5.940082,-14.167700,14.8787,3.71,F1V,Eta,16.0,6.327032,Lep
27072.0,27006,38393.0,1983.0,Gl 216A,13Gam Lep,NaN,5.741057,-22.448382,8.9270,3.59,F7V,Gam,13.0,2.544486,Lep
24244.0,24187,33802.0,1696.0,NaN,3Iot Lep,NaN,5.204973,-11.869219,71.0732,4.45,B8V,Iot,3.0,73.046599,Lep
24327.0,24270,33949.0,1705.0,NaN,4Kap Lep,NaN,5.220522,-12.941291,223.2143,4.36,B7V,Kap,4.0,782.708410,Lep
24845.0,24785,34816.0,1756.0,NaN,6Lam Lep,NaN,5.326257,-13.176788,261.0966,4.29,B0.5IV,Lam,6.0,1141.826190,Lep
24305.0,24249,33904.0,1702.0,NaN,5Mu Lep,NaN,5.215528,-16.205468,57.0125,3.29,B9IV: HgMn,Mu,5.0,136.772883,Lep
24873.0,24813,34863.0,1757.0,NaN,7Nu Lep,NaN,5.333062,-12.315585,102.2495,5.29,B7/B8V,Nu,7.0,69.694740,Lep
28910.0,28837,41695.0,2155.0,NaN,18The Lep,NaN,6.102590,-14.935254,52.9661,4.67,A0V,The,18.0,33.113112,Lep
27288.0,27220,38678.0,1998.0,Gl 217.1,14Zet Lep,NaN,5.782595,-14.821950,21.6076,3.55,A2Vann,Zet,14.0,15.459662,Lep

In [43]:
Lep_con = ((24873, 24845), (24845, 24305), (24305, 23685), (24244, 24327), (24327, 24305), 
           (25985, 25606), (25606, 23685), (25985, 24305), (27072, 27654), (27072, 25606), 
           (27654, 25985), (28910, 28103), (28103, 27288), (27288, 25985))

In [44]:
# ===================================== 11
# Col = Columba (Голубь)

In [45]:
Col = df.xs('Col', level='con')
Col = Col.loc[[30277, 29807, 28199, 27628, 26634, 25859, 28328]]
Col['con'] = 'Col'

In [46]:
Col.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
26634.0,26569,37795.0,1956.0,NaN,Alp Col,Phact,5.660817,-34.074108,80.1282,2.65,B7IV,Alp,NaN,487.079666,Col
27628.0,27559,39425.0,2040.0,NaN,Bet Col,Wazn,5.849329,-35.768309,26.7308,3.12,K1.5III,Bet,NaN,35.156044,Col
30277.0,30204,44762.0,2296.0,NaN,Del Col,NaN,6.368564,-33.436400,71.7360,3.85,G7II,Del,NaN,129.300439,Col
25859.0,25794,36597.0,1862.0,NaN,Eps Col,NaN,5.520209,-35.470519,80.7103,3.86,K1II/III,Eps,NaN,162.181010,Col
28328.0,28256,40808.0,2120.0,NaN,Eta Col,NaN,5.985778,-42.815135,144.7178,3.96,K0III,Eta,NaN,475.554176,Col
28199.0,28127,40494.0,2106.0,NaN,Gam Col,NaN,5.958947,-35.283280,266.6667,4.36,B2.5IV,Gam,NaN,1116.863248,Col
29807.0,29734,43785.0,2256.0,NaN,Kap Col,NaN,6.275871,-35.140519,55.9597,4.37,G8II,Kap,NaN,48.707967,Col

In [47]:
Col_con = ((30277, 29807), (29807, 28199), (28199, 27628), (27628, 26634), (26634, 25859), (28328, 27628))

In [48]:
# ===================================== 12
# Mon = Monoceros (единорог)

In [49]:
Mon = df.xs('Mon', level='con')
Mon = Mon.loc[[37447, 39863, 34769, 30419, 30867, 29651]]
Mon['con'] = 'Mon'
# 29151? (убрал, но нужно добавить)

In [50]:
Mon.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
37447.0,37340,61935.0,2970.0,NaN,26Alp Mon,NaN,7.687454,-9.551131,45.3104,3.94,K0III,Alp,26.0,47.467898,Mon
30867.0,30794,45725.0,2356.0,NaN,11Bet Mon,NaN,6.480297,-7.033062,207.4689,3.76,B3Ve,Bet,11.0,1174.897555,Mon
34769.0,34677,55185.0,2714.0,NaN,22Del Mon,NaN,7.197739,-0.492764,117.7856,4.15,A2V,Del,22.0,264.240876,Mon
30419.0,30346,44769.0,2298.0,NaN,8Eps Mon,NaN,6.396135,4.592865,37.4953,4.39,A5IV,Eps,8.0,21.478305,Mon
29651.0,29578,43232.0,2227.0,NaN,5Gam Mon,NaN,6.247592,-6.274776,152.6718,3.99,K3III,Gam,5.0,514.754320,Mon
39863.0,39750,67594.0,3188.0,NaN,29Zet Mon,NaN,8.143236,-2.983786,324.6753,4.36,G2Ib,Zet,29.0,1655.007629,Mon

In [51]:
Mon_con = ((37447, 39863), (39863, 34769), (34769, 30419), (30867, 29651), (30867, 34769))
# убрал одну линию, нужно добавить

In [52]:
# ===================================== 13
# Gem = Gemini (близнецы)

In [53]:
Gem = df.xs('Gem', level='con')
Gem = Gem.loc[[28734, 29655, 30343, 32246, 34693, 36850, 30883, 33018, 36046, 37740, 37826, 36962, 35550, 35350, 32362, 31681, 34088]]
Gem['con'] = 'Gem'

In [54]:
Gem.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
36850.0,36744,60179.0,2891.0,Gl 278A,66Alp Gem,Castor,7.576634,31.888276,15.5958,1.58,A2Vm,Alp,66.0,49.431069,Gem
37826.0,37718,62509.0,2990.0,Gl 286,78Bet Gem,Pollux,7.755277,28.026199,10.3584,1.16,K0IIIvar,Bet,78.0,32.092238,Gem
35550.0,35453,56986.0,2777.0,Gl 271A,55Del Gem,Wasat,7.335383,21.982320,18.5391,3.50,F0IV...,Del,55.0,11.912420,Gem
32246.0,32161,48329.0,2473.0,NaN,27Eps Gem,Mebsuta,6.732202,25.131124,259.0674,3.06,A3mA6-A9,Eps,27.0,3489.795674,Gem
29655.0,29582,42995.0,2216.0,NaN,7Eta Gem,Propus,6.247961,22.506799,117.9245,3.31,M3III,Eta,7.0,574.380913,Gem
31681.0,31601,47105.0,2421.0,NaN,24Gam Gem,Alhena,6.628528,16.399252,33.5121,1.93,A0IV,Gam,24.0,165.348401,Gem
36046.0,35946,58207.0,2821.0,NaN,60Iot Gem,NaN,7.428779,27.798080,36.9004,3.78,G9III+...,Iot,60.0,36.475395,Gem
37740.0,37633,62345.0,2985.0,NaN,77Kap Gem,NaN,7.740793,24.397993,43.3463,3.57,G8III,Kap,77.0,61.094202,Gem
35350.0,35253,56537.0,2763.0,GJ 9231A,54Lam Gem,NaN,7.301550,16.540383,30.9310,3.58,A3V...,Lam,54.0,30.817684,Gem
30343.0,30270,44478.0,2286.0,NaN,13Mu Gem,Tejat,6.382673,22.513586,71.0227,2.87,M3IIIvar,Mu,13.0,312.464009,Gem
30883.0,30810,45542.0,2343.0,NaN,18Nu Gem,NaN,6.482719,20.212133,166.9449,4.13,B6III,Nu,18.0,541.003407,Gem
34693.0,34601,54719.0,2697.0,NaN,46Tau Gem,NaN,7.185659,30.245163,98.4252,4.41,K2III,Tau,46.0,145.344968,Gem
33018.0,32932,50019.0,2540.0,NaN,34The Gem,NaN,6.879816,33.961254,57.9710,3.60,A3III,The,34.0,106.267387,Gem
36962.0,36856,60522.0,2905.0,NaN,69Ups Gem,NaN,7.598708,26.895741,83.0565,4.06,K5III,Ups,69.0,142.823608,Gem
32362.0,32276,48737.0,2484.0,Gl 242,31Xi Gem,Alzirr,6.754824,12.895591,17.9986,3.35,F5IV,Xi,31.0,12.894366,Gem
34088.0,34000,52973.0,2650.0,NaN,43Zet Gem,Mekbuda,7.068481,20.570297,421.9409,4.01,G3Ibv SB,Zet,43.0,3858.335599,Gem
28734.0,28664,41116.0,2134.0,NaN,1 Gem,NaN,6.068671,23.263341,47.5511,4.16,G7III,NaN,1.0,42.697259,Gem

In [55]:
Gem_con = ((28734, 29655), (29655, 30343), (30343, 32246), (32246, 34693), (34693, 36850), (30883, 32246),
           (33018, 34693), (34693, 36046), (36046, 36962), (37740, 36962), (37826, 36962), (36962, 35550),
           (35550, 35350), (35350, 32362), (31681, 34088), (34088, 35550))

In [56]:
# ===================================== 14
# Car = Carina (киль)

In [57]:
Car = df.xs('Car', level='con')
Car = Car.loc[[45238, 50099, 52419, 52468, 54463, 53253, 51232, 50371, 45556, 45080, 42568, 41037, 30438]]
Car['con'] = 'Car'

In [58]:
Car.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
30438.0,30365,45348.0,2326.0,NaN,Alp Car,Canopus,6.399195,-52.695660,94.7867,-0.62,F0Ib,Alp,NaN,1.385479e+04,Car
45238.0,45106,80007.0,3685.0,NaN,Bet Car,Miaplacidus,9.220041,-69.717208,34.6981,1.67,A2IV,Bet,NaN,2.253201e+02,Car
41037.0,40921,71129.0,3307.0,NaN,Eps Car,Avior,8.375236,-59.509483,185.5288,1.86,K3III+B2V,Eps,NaN,5.405054e+03,Car
45556.0,45425,80404.0,3699.0,NaN,Iot Car,Aspidiske,9.284838,-59.275229,234.7418,2.21,A8Ib,Iot,NaN,6.269025e+03,Car
50099.0,49958,89080.0,4037.0,NaN,Ome Car,NaN,10.228961,-70.037903,104.8218,3.29,B8III,Ome,NaN,4.621681e+02,Car
52419.0,52268,93030.0,4199.0,NaN,The Car,NaN,10.715949,-64.394450,139.6648,2.74,B0Vp,The,NaN,1.361445e+03,Car
52468.0,52317,93070.0,4200.0,NaN,NaN,NaN,10.725639,-60.566619,349.6503,4.58,K3Ib,NaN,NaN,1.567473e+03,Car
54463.0,54304,96918.0,4337.0,NaN,NaN,NaN,11.143165,-58.975037,100000.0000,3.93,G0Ia0,NaN,NaN,2.333458e+08,Car
53253.0,53099,94510.0,4257.0,Gl 404.1,NaN,NaN,10.891559,-58.853171,29.1290,3.78,K0III-IV...,NaN,NaN,2.274050e+01,Car
51232.0,51087,90853.0,4114.0,NaN,NaN,NaN,10.464649,-58.739403,411.5226,3.81,F2II,NaN,NaN,4.413671e+03,Car
50371.0,50229,89388.0,4050.0,NaN,NaN,NaN,10.284720,-61.332304,201.6129,3.39,K3II,NaN,NaN,1.560271e+03,Car
45080.0,44952,79351.0,3659.0,NaN,NaN,NaN,9.182804,-58.966896,136.9863,3.43,B2IV,NaN,NaN,6.937452e+02,Car
42568.0,42449,74375.0,3457.0,NaN,NaN,NaN,8.676953,-59.761003,442.4779,4.31,B1.5III,NaN,NaN,3.218103e+03,Car

In [59]:
Car_con = ((45238, 50099), (50099, 52419), (52419, 52468), (52468, 54463), (54463, 53253), (53253, 51232), (51232, 50371), (50371, 45556), 
          (45556, 45080), (45080, 42568), (42568, 41037), (41037, 30438), (30438, 31685), (41037, 39953))

In [60]:
# ===================================== 15
# Pup = Puppis (корма)

In [61]:
Pup = df.xs('Pup', level='con')
Pup = Pup.loc[[31685, 35264, 38170, 39757, 39429, 36377, 32768]]
Pup['con'] = 'Pup'

In [62]:
Pup.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
31685.0,31605,47670.0,2451.0,NaN,Nu Pup,NaN,6.629353,-43.195934,113.8952,3.17,B8III SB,Nu,NaN,609.817664,Pup
35264.0,35169,56855.0,2773.0,NaN,Pi Pup,NaN,7.285711,-37.097470,247.5248,2.71,K3Ib,Pi,NaN,4397.440784,Pup
39757.0,39644,67523.0,3185.0,NaN,15Rho Pup,Tureis,8.125737,-24.304324,19.4818,2.83,F2mF5IIp,Rho,15.0,24.389337,Pup
36377.0,36274,59717.0,2878.0,NaN,Sig Pup,NaN,7.487179,-43.301432,59.3824,3.25,K5III SB,Sig,NaN,153.886315,Pup
32768.0,32682,50310.0,2553.0,NaN,Tau Pup,NaN,6.832266,-50.614560,55.8036,2.94,K0III...,Tau,NaN,180.800655,Pup
38170.0,38062,63700.0,3045.0,NaN,7Xi Pup,Azmidi,7.821571,-24.859786,367.6471,3.34,G6Ia,Xi,7.0,5430.002131,Pup
39429.0,39318,66811.0,3165.0,NaN,Zet Pup,Naos,8.059737,-40.003148,332.2259,2.21,O5IAf,Zet,NaN,12554.516737,Pup

In [63]:
Pup_con = ((31685, 35264), (35264, 38170), (38170, 39757), (39757, 39429), (39429, 36377), (36377, 32768), (32768, 31685), (39953, 39429))

In [64]:
# ===================================== 16
# CMa = Canis Major (большой пёс)

In [65]:
CMa = df.xs('CMa', level='con')
CMa = CMa.loc[[32349, 31592, 33152, 33856, 34444, 33977, 34045, 33347, 33160, 30324, 31416, 35904, 35037, 32759, 33579, 30122]]
CMa['con'] = 'CMa'

In [66]:
CMa.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
32349.0,32263,48915.0,2491.0,Gl 244A,9Alp CMa,Sirius,6.752481,-16.716116,2.6371,-1.44,A0m...,Alp,9.0,2.282443e+01,CMa
30324.0,30251,44743.0,2294.0,NaN,2Bet CMa,Mirzam,6.378329,-17.955918,151.0574,1.98,B1II/III,Bet,2.0,3.209224e+03,CMa
34444.0,34354,54605.0,2693.0,NaN,25Del CMa,Wezen,7.139857,-26.393200,492.6108,1.83,F8Ia,Del,25.0,3.919223e+04,CMa
33579.0,33492,52089.0,2618.0,NaN,21Eps CMa,Adhara,6.977097,-28.972084,124.2236,1.50,B2II,Eps,21.0,3.375981e+03,CMa
35904.0,35806,58350.0,2827.0,NaN,31Eta CMa,Aludra,7.401584,-29.303104,609.7561,2.45,B5Ia,Eta,31.0,3.391564e+04,CMa
34045.0,33956,53244.0,2657.0,NaN,23Gam CMa,Muliphein,7.062637,-15.633286,135.5014,4.11,B8II,Gam,23.0,3.630781e+02,CMa
33347.0,33260,51309.0,2596.0,NaN,20Iot CMa,NaN,6.935618,-17.054242,769.2308,4.36,B3Ib/II,Iot,20.0,9.289664e+03,CMa
32759.0,32672,50013.0,2538.0,NaN,13Kap CMa,NaN,6.830683,-32.508478,202.0202,3.50,B1.5IVne,Kap,13.0,1.415142e+03,CMa
31592.0,31512,47205.0,2429.0,Gl 239.1,7Nu 2CMa,NaN,6.611399,-19.255879,19.7511,3.95,K1III+...,Nu-2,7.0,8.937170e+00,CMa
35037.0,34943,56139.0,2749.0,NaN,28Ome CMa,NaN,7.246849,-26.772667,279.3296,4.01,B2IV/Ve,Ome,28.0,1.691999e+03,CMa
33152.0,33065,50877.0,2580.0,NaN,16Omi1CMa,NaN,6.902209,-24.184211,100000.0000,3.89,K3Iab,Omi-1,16.0,2.421029e+08,CMa
33977.0,33888,53138.0,2653.0,NaN,24Omi2CMa,NaN,7.050409,-23.833291,847.4576,3.02,B3Ia,Omi-2,24.0,3.876145e+04,CMa
33856.0,33769,52877.0,2646.0,NaN,22Sig CMa,Nganurganity,7.028652,-27.934830,343.6426,3.49,K4III,Sig,22.0,4.134281e+03,CMa
33160.0,33073,50778.0,2574.0,NaN,14The CMa,NaN,6.903167,-12.038628,79.9361,4.08,K4III,The,14.0,1.298973e+02,CMa
31416.0,31339,46933.0,2414.0,NaN,5Xi 2CMa,NaN,6.584274,-22.964793,135.3180,4.54,A0III,Xi-2,5.0,2.436688e+02,CMa
30122.0,30049,44402.0,2282.0,NaN,1Zet CMa,Furud,6.338553,-30.063367,111.1111,3.02,B2.5V,Zet,1.0,6.661929e+02,CMa

In [67]:
CMa_con = ((32349, 31592), (31592, 33152), (33152, 33856), (33856, 34444), (34444, 33977), (33977, 32349), 
           (34045, 33347), (33347, 33160), (33160, 34045), (33347, 32349), (30324, 31592), (31416, 31592),
           (35904, 35037), (35037, 34444), (32759, 33579), (33579, 33856), (30122, 33579))

In [68]:
# ===================================== 17
# Lyn = Lynx (рысь)

In [69]:
Lyn = df.xs('Lyn', level='con')
Lyn = Lyn.loc[[45860, 45688, 44700, 44248, 41075, 36145, 33449, 30060]]
Lyn['con'] = 'Lyn'

In [70]:
Lyn.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
45860.0,45728,80493.0,3705.0,NaN,40Alp Lyn,NaN,9.350925,34.392562,62.2665,3.14,M0IIIvar,Alp,40.0,187.240590,Lyn
45688.0,45557,80081.0,3690.0,NaN,38 Lyn,NaN,9.314069,36.802597,38.2702,3.82,A1V,NaN,38.0,37.809419,Lyn
44700.0,44572,77912.0,3612.0,NaN,NaN,NaN,9.108825,38.452215,250.6266,4.56,G8Ib-II,NaN,NaN,820.351544,Lyn
44248.0,44120,76943.0,3579.0,Gl 332A,NaN,NaN,9.010685,41.782911,16.0694,3.96,F5V,NaN,NaN,5.861382,Lyn
41075.0,40959,70272.0,3275.0,NaN,31 Lyn,Alsciaukat,8.380588,43.188131,117.2333,4.25,K5III,NaN,31.0,238.781128,Lyn
36145.0,36044,58142.0,2818.0,NaN,21 Lyn,NaN,7.445237,49.211527,83.8926,4.61,A1V,NaN,21.0,87.821328,Lyn
33449.0,33362,50522.0,2560.0,NaN,15 Lyn,NaN,6.954612,58.422759,54.6747,4.35,G5III-IV,NaN,15.0,47.380539,Lyn
30060.0,29987,43378.0,2238.0,NaN,2 Lyn,NaN,6.327052,59.010964,48.0077,4.44,A2Vs,NaN,2.0,33.635664,Lyn

In [71]:
Lyn_con = ((45860, 45688), (45688, 44700), (44700, 44248), (44248, 41075), (41075, 36145), (36145, 33449), (33449, 30060))

In [72]:
# ===================================== 18
# Vol = Volans (летучая рыба)

In [73]:
Vol = df.xs('Vol', level='con')
Vol = Vol.loc[[44382, 41312, 39794, 37504, 34481, 35228]]
Vol['con'] = 'Vol'

In [74]:
Vol.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
44382.0,44254,78045.0,3615.0,Gl 333.3,Alp Vol,NaN,9.040777,-66.396076,38.2995,4.00,Am,Alp,NaN,32.092238,Vol
41312.0,41195,71878.0,3347.0,GJ 3499,Bet Vol,NaN,8.428951,-66.136890,32.9707,3.77,K2IIIvar,Bet,NaN,29.403566,Vol
35228.0,35132,57623.0,2803.0,NaN,Del Vol,NaN,7.280508,-67.957152,226.2443,3.97,F6II,Del,NaN,1151.330474,Vol
39794.0,39681,68520.0,3223.0,NaN,Eps Vol,NaN,8.132173,-68.617062,172.4138,4.35,B6IV,Eps,NaN,471.194269,Vol
34481.0,34389,55865.0,2736.0,NaN,Gam2Vol,NaN,7.145788,-70.498932,42.8633,3.78,G8IIIvar,Gam-2,NaN,49.203954,Vol
37504.0,37397,63295.0,3024.0,NaN,Zet Vol,NaN,7.697004,-72.606098,43.2339,3.93,K0III,Zet,NaN,43.611397,Vol

In [75]:
Vol_con = ((44382, 41312), (41312, 39794), (39794, 37504), (37504, 34481), (39794, 34481), (44382, 39794), (39794, 35228))