In [1]:
import pandas as pd
import numpy as np
import scipy
import seaborn as sns
import matplotlib.pyplot as pltDelphinus

In [2]:
df = pd.read_csv('naked_df.csv')
df = df.sort_values(by=['con'])
df = df.set_index(['con', 'hip'])
df

                  id        hd  hr   gl   bf proper         ra        dec  \
con hip
And 114642.0  114280       NaN NaN  NaN  NaN    NaN  23.224074  35.762021
    9194.0      9175   11951.0 NaN  NaN  NaN    NaN   1.972931  43.621980
    3251.0      3244    3858.0 NaN  NaN  NaN    NaN   0.690387  28.042635
    117691.0  117323       NaN NaN  NaN  NaN    NaN  23.868756  37.850250
    115461.0  115096       NaN NaN  NaN  NaN    NaN  23.388891  43.101533
...              ...       ...  ..  ...  ...    ...        ...        ...
Vul 97057.0    96750  344787.0 NaN  NaN  NaN    NaN  19.724830  23.177959
    100983.0  100657  334488.0 NaN  NaN  NaN    NaN  20.474322  28.954089
    101743.0  101416  346992.0 NaN  NaN  NaN    NaN  20.621383  23.895299
    98386.0    98075  333327.0 NaN  NaN  NaN    NaN  19.990121  28.241549
    102331.0  102000  197573.0 NaN  NaN  NaN    NaN  20.733344  21.400658

                     dist    mag  spect bayer  flam           lum
con hip
And 114642.0     293.2551   8.65     K0   NaN   NaN  2.596570e+01
    9194.0       343.6426   7.65     A0   NaN   NaN  8.961898e+01
    3251.0       390.6250   7.89     A5   NaN   NaN  9.281112e+01
    117691.0  100000.0000   8.73     M5   NaN   NaN  2.805434e+06
    115461.0     338.9831   9.41     A2   NaN   NaN  1.723455e+01
...                   ...    ...    ...   ...   ...           ...
Vul 97057.0   100000.0000   9.31   F8Ib   NaN   NaN  1.644372e+06
    100983.0     393.7008   8.73  G8III   NaN   NaN  4.349106e+01
    101743.0     434.7826  11.79     A2   NaN   NaN  3.165192e+00
    98386.0      196.4637   9.48     F8   NaN   NaN  5.425003e+00
    102331.0     105.9322   7.18     A2   NaN   NaN  1.312200e+01

[117951 rows x 14 columns]

In [3]:
# 'Sct', 'CrA', 'Aql', 'Sge', 'Vul', 'Cyg', 'Cep', 'Cap', 'Del',
# 'Mic', 'Ind', 'Aqr', 'Equ', 'PsA', 'Gru', 'Lac'

In [4]:
# ===================================== 1
# Sct = Scutum (щит)

In [5]:
Sct = df.xs('Sct', level='con')
Sct = Sct.loc[[92202, 92175, 91117, 90595, 92814]]
Sct['con'] = 'Sct'

In [6]:
Sct.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
91117.0,90835,171443.0,6973.0,NaN,Alp Sct,NaN,18.586785,-8.244073,61.0501,3.85,K2III,Alp,NaN,9.358365e+01,Sct
92175.0,91888,173764.0,7063.0,NaN,Bet Sct,NaN,18.786242,-4.747867,280.8989,4.22,G5II...,Bet,NaN,1.409938e+03,Sct
90595.0,90315,170296.0,6930.0,NaN,Gam Sct,NaN,18.486626,-14.565813,97.9432,4.67,A1IV/V,Gam,NaN,1.132400e+02,Sct
92202.0,91915,173819.0,7066.0,NaN,NaN,NaN,18.791375,-5.705147,100000.0000,5.38,K0Ibpvar,NaN,NaN,6.137620e+07,Sct
92814.0,92524,175156.0,7119.0,NaN,NaN,NaN,18.911976,-15.603036,429.1845,5.08,B3II,NaN,NaN,1.490047e+03,Sct

In [7]:
Sct_con = ((92175, 91117), (91117, 90595), (90595, 92814), (92814, 92202), (92202, 92175))

In [8]:
# ===================================== 2
# CrA = Corona Australis (южная корона)

In [9]:
CrA = df.xs('CrA', level='con')
CrA = CrA.loc[[90887, 91875, 92989, 93174, 93825, 94114, 94160, 94005, 93542, 92953]]
CrA['con'] = 'CrA'

In [10]:
CrA.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
94114.0,93819,178253.0,7254.0,NaN,Alp CrA,Meridiana,19.157869,-37.904474,38.4320,4.11,A0/A1V,Alp,NaN,29.187708,CrA
94160.0,93865,178345.0,7259.0,NaN,Bet CrA,NaN,19.167154,-39.340796,145.3488,4.10,K0II/IIICN.,Bet,NaN,421.502350,CrA
94005.0,93710,177873.0,7242.0,NaN,Del CrA,NaN,19.139156,-40.496703,54.7345,4.57,K1III,Del,NaN,38.761449,CrA
93174.0,92881,175813.0,7152.0,NaN,Eps CrA,NaN,18.978721,-37.107357,30.1841,4.83,F3IV/V,Eps,NaN,9.281112,CrA
93825.0,93530,177474.0,7226.0,Gl 743.1A,Gam CrA,NaN,19.106971,-37.063437,17.3040,4.23,F7IV-V,Gam,NaN,5.301515,CrA
91875.0,91589,172777.0,7021.0,NaN,Lam CrA,NaN,18.729706,-38.323441,62.9327,5.11,A0/A1V,Lam,NaN,31.160183,CrA
93542.0,93248,176638.0,7188.0,NaN,Zet CrA,NaN,19.051907,-42.095105,59.2066,4.74,A0Vn,Zet,NaN,38.797166,CrA
90887.0,90605,170642.0,6942.0,NaN,NaN,NaN,18.539257,-39.704001,70.2741,5.16,A3V,NaN,NaN,37.119319,CrA
92989.0,92697,175362.0,7129.0,NaN,NaN,NaN,18.944582,-37.343241,131.9261,5.36,B3V,NaN,NaN,108.842874,CrA
92953.0,92661,175219.0,7122.0,NaN,NaN,NaN,18.938044,-42.710676,90.5797,5.35,G6III-IV,NaN,NaN,51.760683,CrA

In [11]:
CrA_con = ((90887, 91875), (91875, 92989), (92989, 93174), (93174, 93825), (93825, 94114), (94114, 94160), (94160, 94005), (94005, 93542), (93542, 92953))

In [12]:
# ===================================== 3
# Aql = Aquila (орёл)

In [13]:
Aql = df.xs('Aql', level='con')
Aql = Aql.loc[[93244, 93747, 95501, 93805, 99473, 97804, 97649, 98036, 97278]]
Aql['con'] = 'Aql'

In [14]:
Aql.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
97649.0,97338,187642.0,7557.0,Gl 768,53Alp Aql,Altair,19.846388,8.868322,5.1295,0.76,A7IV-V,Alp,53.0,11.376273,Aql
98036.0,97725,188512.0,7602.0,Gl 771A,60Bet Aql,Alshain,19.921887,6.406763,13.6986,3.71,G8IVvar,Bet,60.0,5.360435,Aql
95501.0,95207,182640.0,7377.0,Gl 760,30Del Aql,NaN,19.424972,3.114775,15.5255,3.36,F0IV,Del,30.0,9.506048,Aql
93244.0,92951,176411.0,7176.0,NaN,13Eps Aql,NaN,18.993711,15.068298,47.5059,4.02,K2III,Eps,13.0,48.484174,Aql
97804.0,97493,187929.0,7570.0,NaN,55Eta Aql,NaN,19.874547,1.005661,423.7288,3.87,F6Ibv SB,Eta,55.0,4425.883724,Aql
97278.0,96970,186791.0,7525.0,NaN,50Gam Aql,Tarazed,19.770994,10.613261,121.0654,2.72,K3II,Gam,50.0,1042.317429,Aql
93805.0,93510,177756.0,7236.0,NaN,16Lam Aql,NaN,19.104150,-4.882554,37.9219,3.43,B9Vn,Lam,16.0,53.161840,Aql
99473.0,99156,191692.0,7710.0,NaN,65The Aql,NaN,20.188413,-0.821461,87.7963,3.24,B9.5III,The,65.0,339.468905,Aql
93747.0,93452,177724.0,7235.0,GJ 4095A,17Zet Aql,Okab,19.090169,13.863478,25.4582,2.99,A0Vn,Zet,17.0,35.941815,Aql

In [15]:
Aql_con = ((93244, 93747), (93747, 95501), (95501, 93805), (99473, 97804), (95501, 97804), (97649, 95501), (98036, 97649), (97278, 97649))

In [16]:
# ===================================== 4
# Sge = Sagitta (стрела)

In [17]:
Sge = df.xs('Sge', level='con')
Sge = Sge.loc[[98920, 98337, 97365, 96757, 96837]]
Sge['con'] = 'Sge'

In [18]:
Sge.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
96757.0,96450,185758.0,7479.0,NaN,5Alp Sge,Sham,19.668275,18.013890,130.3781,4.39,G0II,Alp,5.0,259.656979,Sge
96837.0,96530,185958.0,7488.0,NaN,6Bet Sge,NaN,19.684150,17.476041,134.7709,4.39,G8II,Bet,6.0,277.459756,Sge
97365.0,97056,187076.0,7536.0,NaN,7Del Sge,NaN,19.789795,18.534286,182.1494,3.68,M2II + B6,Del,7.0,974.540742,Sge
98920.0,98604,190608.0,7679.0,NaN,16Eta Sge,NaN,20.085970,19.991071,49.1642,5.09,K2III,Eta,16.0,19.373139,Sge
98337.0,98026,189319.0,7635.0,NaN,12Gam Sge,NaN,19.979285,19.492148,79.2393,3.51,K5III,Gam,12.0,215.774441,Sge

In [19]:
Sge_con = ((98920, 98337), (98337, 97365), (97365, 96757), (97365, 96837))

In [20]:
# ===================================== 5
# Vul = Vulpecula (лисичка)

In [21]:
Vul = df.xs('Vul', level='con')
Vul = Vul.loc[[98543, 95771]]
Vul['con'] = 'Vul'

In [22]:
Vul.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
95771.0,95473,183439.0,7405.0,NaN,6Alp Vul,Anser,19.478427,24.664905,91.1577,4.44,M0 comp,Alp,6.0,121.227179,Vul
98543.0,98232,189849.0,7653.0,NaN,15 Vul,NaN,20.018346,27.753573,72.4638,4.66,A4III,NaN,15.0,62.574876,Vul

In [23]:
Vul_con = ((98543, 95771))

In [24]:
# ===================================== 6
# Cyg = Cygnus (лебедь)

In [25]:
Cyg = df.xs('Cyg', level='con')
Cyg = Cyg.loc[[95947, 98110, 100453, 102098, 107310, 104732, 102488, 97165, 95853, 94779]]
Cyg['con'] = 'Cyg'

In [26]:
Cyg.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
102098.0,101767,197345.0,7924.0,NaN,50Alp Cyg,Deneb,20.690532,45.280338,432.9004,1.25,A2Ia,Alp,50.0,51617.860550,Cyg
95947.0,95648,183912.0,7417.0,NaN,6Bet1Cyg,Albireo,19.512023,27.959681,133.1558,3.05,K3II+...,Bet-1,6.0,930.679183,Cyg
97165.0,96858,186882.0,7528.0,NaN,18Del Cyg,Fawaris,19.749574,45.130810,50.5817,2.86,B9.5III,Del,18.0,159.955803,Cyg
102488.0,102157,197989.0,7949.0,Gl 806.1A,53Eps Cyg,Aljanah,20.770178,33.970256,22.2916,2.48,K0III,Eps,53.0,44.096082,Cyg
98110.0,97799,188947.0,7615.0,NaN,21Eta Cyg,NaN,19.938438,35.083424,41.3736,3.89,K0IIIvar,Eta,21.0,41.457203,Cyg
100453.0,100128,194093.0,7796.0,NaN,37Gam Cyg,Sadr,20.370473,40.256679,561.7978,2.23,F8Ib,Gam,37.0,35253.318120,Cyg
95853.0,95554,184006.0,7420.0,NaN,10Iot2Cyg,NaN,19.495098,51.729779,37.2024,3.76,A5Vn,Iot-2,10.0,37.774611,Cyg
94779.0,94484,181276.0,7328.0,NaN,1Kap Cyg,NaN,19.285040,53.368459,38.0662,3.80,K0III,Kap,1.0,38.124135,Cyg
107310.0,106967,206826.0,8309.0,Gl 836.6A,78Mu 1Cyg,NaN,21.735710,28.742632,22.2370,4.49,F6V,Mu-1,78.0,6.886523,Cyg
104732.0,104394,202109.0,8115.0,NaN,64Zet Cyg,NaN,21.215607,30.226916,43.8789,3.21,G8II SB,Zet,64.0,87.176615,Cyg

In [27]:
Cyg_con = ((95947, 98110), (98110, 100453), (100453, 102098), (107310, 104732), (104732, 102488), (102488, 100453), (100453, 97165), (97165, 95853), (95853, 94779))

In [28]:
# ===================================== 7
# Cep = Cepheus (цефей)

In [29]:
Cep = df.xs('Cep', level='con')
Cep = Cep.loc[[106032, 116727, 112724, 109492, 105199]]
Cep['con'] = 'Cep'

In [30]:
Cep.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
105199.0,104861,203280.0,8162.0,Gl 826,5Alp Cep,Alderamin,21.309630,62.585573,15.0376,2.45,A7IV-V,Alp,5.0,20.625287,Cep
106032.0,105691,205021.0,8238.0,NaN,8Bet Cep,Alfirk,21.477662,70.560716,210.0840,3.23,B2IIIv SB,Bet,8.0,1962.456324,Cep
116727.0,116361,222404.0,8974.0,Gl 903,35Gam Cep,Errai,23.655820,77.632276,14.1024,3.21,K1IV,Gam,35.0,9.003264,Cep
112724.0,112364,216228.0,8694.0,NaN,32Iot Cep,NaN,22.828020,66.200408,35.3482,3.50,K0III,Iot,32.0,43.331129,Cep
109492.0,109146,210745.0,8465.0,NaN,21Zet Cep,NaN,22.180908,58.201261,256.4103,3.39,K1Ibv SB,Zet,21.0,2523.480772,Cep

In [31]:
Cep_con = ((106032, 116727), (116727, 112724), (112724, 106032), (106032, 105199), (105199, 109492), (109492, 112724))

In [32]:
# ===================================== 8
# Cap = Capricornus (козерог)

In [33]:
Cap = df.xs('Cap', level='con')
Cap = Cap.loc[[107556, 106985, 105515, 104139, 100345, 100064, 105881, 102978, 102485]]
Cap['con'] = 'Cap'

In [34]:
Cap.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
100064.0,99743,192947.0,7754.0,NaN,6Alp2Cap,Algedi,20.300904,-12.544852,32.4465,3.58,G6/G8III,Alp-2,6.0,33.915639,Cap
100345.0,100020,193495.0,7776.0,NaN,9Bet Cap,Dabih,20.350187,-14.781367,100.2004,3.05,A5:n,Bet,9.0,526.744488,Cap
107556.0,107213,207098.0,8322.0,Gl 837,49Del Cap,Deneb Algedi,21.784011,-16.127286,11.8666,2.85,A5mF2 (IV),Del,49.0,8.887917,Cap
106985.0,106642,206088.0,8278.0,GJ 4209,40Gam Cap,Nashira,21.668181,-16.662308,48.1464,3.69,A7III:mp...,Gam,40.0,67.483873,Cap
105515.0,105175,203387.0,8167.0,NaN,32Iot Cap,NaN,21.370776,-16.834542,60.3136,4.28,G8III,Iot,32.0,61.489364,Cap
102978.0,102647,198542.0,7980.0,NaN,18Ome Cap,NaN,20.863692,-26.919133,258.3979,4.12,K4III,Ome,18.0,1307.374470,Cap
102485.0,102154,197692.0,7936.0,Gl 805,16Psi Cap,NaN,20.768260,-25.270898,14.6778,4.13,F5V,Psi,16.0,4.180228,Cap
104139.0,103804,200761.0,8075.0,NaN,23The Cap,NaN,21.099118,-17.232861,49.7265,4.08,A1V,The,23.0,50.257398,Cap
105881.0,105540,204075.0,8204.0,NaN,34Zet Cap,NaN,21.444452,-22.411332,118.2033,3.77,G4Ibp...,Zet,34.0,377.746109,Cap

In [35]:
Cap_con = ((107556, 106985), (106985, 105515), (105515, 104139), (104139, 100345), (100345, 100064), (105881, 105515), (105881, 104139), (102978, 104139), (102485, 100345))

In [36]:
# ===================================== 9
# Del = Delphinus (дельфин)

In [37]:
Del = df.xs('Del', level='con')
Del = Del.loc[[101421, 101769, 101958, 102532, 102281]]
Del['con'] = 'Del'

In [38]:
Del.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
101958.0,101629,196867.0,7906.0,NaN,9Alp Del,Sualocin,20.660635,15.912072,77.8210,3.77,B9V,Alp,9.0,163.681652,Del
101769.0,101442,196524.0,7882.0,NaN,6Bet Del,Rotanev,20.625816,14.595087,30.9310,3.64,F5IV,Bet,6.0,29.160838,Del
102281.0,101950,197461.0,7928.0,NaN,11Del Del,NaN,20.724315,15.074581,68.4463,4.43,A7IIIp d Del,Del,11.0,68.992201,Del
101421.0,101095,195810.0,7852.0,NaN,2Eps Del,Aldulfin,20.553547,11.303263,101.3171,4.03,B6III,Eps,2.0,218.373533,Del
102532.0,102201,197964.0,7948.0,NaN,12Gam2Del,NaN,20.777640,16.124296,38.7297,4.27,K1IV,Gam-2,12.0,25.585859,Del

In [39]:
Del_con = ((101421, 101769), (101769, 101958), (101958, 102532), (102532, 102281), (102281, 101769))

In [40]:
# ===================================== 10
# Mic = Microscopium (микроскоп)

In [41]:
Mic = df.xs('Mic', level='con')
Mic = Mic.loc[[102831, 103738, 105140]]
Mic['con'] = 'Mic'

In [42]:
Mic.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
102831.0,102500,198232.0,7965.0,NaN,Alp Mic,NaN,20.832800,-33.779722,116.0093,4.89,G8III,Alp,NaN,129.658204,Mic
105140.0,104802,202627.0,8135.0,NaN,Eps Mic,NaN,21.298966,-32.172539,55.8659,4.71,A0V,Eps,NaN,35.514033,Mic
103738.0,103406,199951.0,8039.0,NaN,Gam Mic,NaN,21.021517,-32.257767,70.2247,4.67,G8III,Gam,NaN,58.183521,Mic

In [43]:
Mic_con = ((102831, 103738), (103738, 105140))

In [44]:
# ===================================== 11
# Ind = Indus (индеец)

In [45]:
Ind = df.xs('Ind', level='con')
Ind = Ind.loc[[103227, 101772, 105319]]
Ind['con'] = 'Ind'

In [46]:
Ind.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
101772.0,101445,196171.0,7869.0,Gl 794.1,Alp Ind,NaN,20.626116,-47.291502,30.1477,3.11,K0III,Alp,NaN,45.123211,Ind
103227.0,102895,198700.0,7986.0,NaN,Bet Ind,NaN,20.913498,-58.454155,187.6173,3.67,K0III,Bet,NaN,1043.277881,Ind
105319.0,104979,202730.0,8140.0,GJ 9733A,The Ind,NaN,21.331096,-53.449427,30.2847,4.39,A5V,The,NaN,14.008770,Ind

In [47]:
Ind_con = ((103227, 101772), (101772, 105319), (105319, 103227))

In [48]:
# ===================================== 12
# Aqr = Aquarius (водолей)

In [49]:
Aqr = df.xs('Aqr', level='con')
Aqr = Aqr.loc[[102618, 106278, 109074, 110395, 110960, 111497, 112961, 114855, 115438, 114341, 113136, 112716, 111123, 110003, 109139]]
Aqr['con'] = 'Aqr'

In [50]:
Aqr.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
109074.0,108728,209750.0,8414.0,NaN,34Alp Aqr,Sadalmelik,22.096399,-0.319851,160.5136,2.95,G2Ib,Alp,34.0,1483.200967,Aqr
106278.0,105936,204867.0,8232.0,NaN,22Bet Aqr,Sadalsuud,21.525982,-5.571172,164.7446,2.90,G0Ib,Bet,22.0,1635.309652,Aqr
113136.0,112776,216627.0,8709.0,NaN,76Del Aqr,Skat,22.910837,-15.820820,49.2368,3.27,A3V,Del,76.0,103.848446,Aqr
102618.0,102287,198001.0,7950.0,NaN,2Eps Aqr,Albali,20.794598,-9.495776,63.6943,3.78,A1V,Eps,2.0,108.742672,Aqr
111497.0,111147,213998.0,8597.0,NaN,62Eta Aqr,NaN,22.589272,-0.117498,51.4668,4.04,B9IV-Vn,Eta,62.0,55.872744,Aqr
110395.0,110049,212061.0,8518.0,GJ 9779,48Gam Aqr,Sadachbia,22.360938,-1.387331,50.2008,3.86,A0V,Gam,48.0,62.748016,Aqr
109139.0,108793,209819.0,8418.0,NaN,33Iot Aqr,NaN,22.107286,-13.869679,53.7057,4.29,B8V,Iot,33.0,48.305880,Aqr
112961.0,112601,216386.0,8698.0,NaN,73Lam Aqr,NaN,22.876910,-7.579599,118.0638,3.73,M2IIIvar,Lam,73.0,391.201039,Aqr
114855.0,114493,219449.0,8841.0,Gl 893.2A,91Psi1Aqr,NaN,23.264859,-9.087737,45.9348,4.24,K0III,Psi-1,91.0,37.016896,Aqr
111123.0,110776,213320.0,8573.0,NaN,57Sig Aqr,NaN,22.510782,-10.677950,88.8099,4.82,A0IVs,Sig,57.0,81.058768,Aqr
112716.0,112357,216032.0,8679.0,NaN,71Tau2Aqr,NaN,22.826528,-13.592632,97.3710,4.05,K5III,Tau-2,71.0,198.061471,Aqr
110003.0,109657,211391.0,8499.0,NaN,43The Aqr,Ancha,22.280565,-7.783290,57.4713,4.17,G8III-IV,The,43.0,61.773186,Aqr
110960.0,110614,213051.0,8558.0,NaN,55Zet1Aqr,NaN,22.480531,-0.019972,28.1690,3.65,F3III-IV,Zet-1,55.0,23.966245,Aqr
115438.0,115073,220321.0,8892.0,NaN,98 Aqr,NaN,23.382842,-20.100580,50.1002,3.96,K0III,NaN,98.0,56.963937,Aqr
114341.0,113980,218594.0,8812.0,NaN,88 Aqr,NaN,23.157443,-21.172410,82.9876,3.68,K1III,NaN,88.0,202.301918,Aqr

In [51]:
Aqr_con = ((102618, 106278), (106278, 109074), (109074, 110395), (110395, 110960), (110960, 111497), (111497, 112961), (112961, 114855), (114855, 115438),
           (114341, 113136), (113136, 112716), (112716, 111123), (111123, 110003), (110003, 109074), (109139, 110003))

In [52]:
# ===================================== 13
# Equ = Equules (малый конь)

In [53]:
Equ = df.xs('Equ', level='con')
Equ = Equ.loc[[104521, 104858, 105570, 104987]]
Equ['con'] = 'Equ'

In [54]:
Equ.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
104987.0,104649,202447.0,8131.0,NaN,8Alp Equ,Kitalpha,21.263731,5.247845,58.3431,3.92,G0III+...,Alp,8.0,80.167806,Equ
105570.0,105229,203562.0,8178.0,NaN,10Bet Equ,NaN,21.381559,6.811140,101.4199,5.16,A3V,Bet,10.0,77.339258,Equ
104858.0,104520,202275.0,8123.0,Gl 822A,7Del Equ,NaN,21.241337,10.006981,18.4877,4.47,F5V+...,Del,7.0,4.848417,Equ
104521.0,104184,201601.0,8097.0,NaN,5Gam Equ,NaN,21.172361,10.131579,36.2976,4.70,F0p,Gam,5.0,15.121678,Equ

In [55]:
Equ_con = ((104521, 104858), (104858, 105570), (105570, 104987))

In [56]:
# ===================================== 14
# PsA = Piscis Austrinus (малый конь)

In [57]:
PsA = df.xs('PsA', level='con')
PsA = PsA.loc[[113368, 111954, 108661, 107608, 109422, 111188, 113246]]
PsA['con'] = 'PsA'

In [58]:
PsA.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
113368.0,113008,216956.0,8728.0,Gl 881,24Alp PsA,Fomalhaut,22.960838,-29.622236,7.7036,1.17,A3V,Alp,24.0,17.587334,PsA
111188.0,110841,213398.0,8576.0,NaN,17Bet PsA,NaN,22.525090,-32.346073,43.7828,4.29,A1V,Bet,17.0,32.121809,PsA
113246.0,112886,216763.0,8720.0,NaN,23Del PsA,NaN,22.932472,-32.539628,47.2590,4.20,G8III,Del,23.0,40.625620,PsA
111954.0,111601,214748.0,8628.0,NaN,18Eps PsA,NaN,22.677594,-27.043617,149.2537,4.18,B8V,Eps,18.0,413.047502,PsA
108661.0,108316,209014.0,8386.0,NaN,12Eta PsA,NaN,22.013951,-28.453736,250.6266,5.43,B8/B9V+...,Eta,12.0,368.128974,PsA
109422.0,109076,210302.0,8447.0,Gl 849.1,15Tau PsA,NaN,22.169093,-32.548407,18.2782,4.94,F6V,Tau,15.0,3.076097,PsA
107608.0,107265,207155.0,8326.0,NaN,10The PsA,NaN,21.795598,-30.898304,98.4252,5.02,A1V,The,10.0,82.870508,PsA

In [59]:
PsA_con = ((113368, 111954), (111954, 108661), (108661, 107608), (107608, 109422), (109422, 111188), (111188, 113246))

In [60]:
# ===================================== 15
# Gru = Grus (фламинго)

In [61]:
Gru = df.xs('Gru', level='con')
Gru = Gru.loc[[109268, 110997, 114131, 114421, 112122, 113638, 112623, 108085, 109111]]
Gru['con'] = 'Gru'

In [62]:
Gru.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
109268.0,108922,209952.0,8425.0,Gl 848.2,Alp Gru,Alnair,22.137209,-46.960975,30.9693,1.73,B7IV,Alp,NaN,169.824365,Gru
112122.0,111768,214952.0,8636.0,NaN,Bet Gru,Tiaki,22.711115,-46.884577,54.2594,2.07,M5III,Bet,NaN,380.890376,Gru
110997.0,110650,213009.0,8556.0,NaN,Del1Gru,NaN,22.487825,-43.495565,94.8767,3.97,G6/G8III,Del-1,NaN,202.488331,Gru
112623.0,112263,215789.0,8675.0,GJ 9796,Eps Gru,NaN,22.809239,-51.316864,39.5257,3.49,A3V,Eps,NaN,54.651237,Gru
108085.0,107742,207971.0,8353.0,NaN,Gam Gru,Aldhanab,21.898808,-37.364852,64.7249,3.00,B8III,Gam,NaN,230.144182,Gru
114421.0,114059,218670.0,8820.0,NaN,Iot Gru,NaN,23.172640,-45.246711,56.1798,3.88,K0III SB,Iot,NaN,77.125856,Gru
109111.0,108765,209688.0,8411.0,NaN,Lam Gru,NaN,22.101914,-39.543353,74.2390,4.47,M0III,Lam,NaN,78.198784,Gru
114131.0,113770,218227.0,8787.0,NaN,The Gru,NaN,23.114650,-43.520358,40.4367,4.28,F5me...,The,NaN,27.643944,Gru
113638.0,113278,217364.0,8747.0,NaN,Zet Gru,NaN,23.014677,-52.754137,33.3778,4.11,G8III,Zet,NaN,22.019122,Gru

In [63]:
Gru_con = ((109268, 110997), (110997, 114131), (114131, 114421), (114421, 112122), (112122, 109268), (113638, 112122), (112122, 112623), (108085, 109111), (109111, 109268))

In [64]:
# ===================================== 16
# Lac = Lacerta (ящерица)

In [65]:
Lac = df.xs('Lac', level='con')
Lac = Lac.loc[[109937, 111104, 111022, 110609, 110538, 111169]]
Lac['con'] = 'Lac'

In [66]:
Lac.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
111169.0,110822,213558.0,8585.0,NaN,7Alp Lac,NaN,22.521515,50.282491,31.4564,3.76,A1V,Alp,7.0,27.014691,Lac
110538.0,110192,212496.0,8538.0,NaN,3Bet Lac,NaN,22.392675,52.229046,52.1105,4.42,G9III,Bet,3.0,40.364539,Lac
109937.0,109591,211388.0,8498.0,NaN,1 Lac,NaN,22.266160,37.748737,190.4762,4.14,K3III,NaN,1.0,697.589604,Lac
111104.0,110757,213420.0,8579.0,NaN,6 Lac,NaN,22.508128,43.123376,526.3158,4.52,B2IV,NaN,6.0,3753.185242,Lac
111022.0,110675,213310.0,8572.0,NaN,5 Lac,NaN,22.492173,47.706887,505.0505,4.34,M0II,NaN,5.0,4081.313916,Lac
110609.0,110263,212593.0,8541.0,NaN,4 Lac,NaN,22.408609,49.476392,689.6552,4.55,B9Iab,NaN,4.0,6269.024975,Lac

In [67]:
Lac_con = ((109937, 111104), (111104, 111022), (111022, 110609), (110609, 110538), (110538, 111169), (111169, 111022))

!CONCLUSION!

!CONCLUSION!

!CONCLUSION!

In [84]:
# 'Sct', 'CrA', 'Aql', 'Sge', 'Vul', 'Cyg', 'Cep', 'Cap', 'Del',
# 'Mic', 'Ind', 'Aqr', 'Equ', 'PsA', 'Gru', 'Lac'

In [85]:
part_1_df = pd.concat([Sct, CrA, Aql, Sge, Vul, Cyg, Cep, Cap, Del, Mic, Ind, Aqr, Equ, PsA, Gru, Lac])

In [86]:
part_1_df['hip'] = part_1_df.index

In [87]:
part_1_df

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con,hip
hip,,,,,,,,,,,,,,,,
92202.0,91915,173819.0,7066.0,NaN,NaN,NaN,18.791375,-5.705147,100000.0000,5.38,K0Ibpvar,NaN,NaN,6.137620e+07,Sct,92202.0
92175.0,91888,173764.0,7063.0,NaN,Bet Sct,NaN,18.786242,-4.747867,280.8989,4.22,G5II...,Bet,NaN,1.409938e+03,Sct,92175.0
91117.0,90835,171443.0,6973.0,NaN,Alp Sct,NaN,18.586785,-8.244073,61.0501,3.85,K2III,Alp,NaN,9.358365e+01,Sct,91117.0
90595.0,90315,170296.0,6930.0,NaN,Gam Sct,NaN,18.486626,-14.565813,97.9432,4.67,A1IV/V,Gam,NaN,1.132400e+02,Sct,90595.0
92814.0,92524,175156.0,7119.0,NaN,NaN,NaN,18.911976,-15.603036,429.1845,5.08,B3II,NaN,NaN,1.490047e+03,Sct,92814.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111104.0,110757,213420.0,8579.0,NaN,6 Lac,NaN,22.508128,43.123376,526.3158,4.52,B2IV,NaN,6.0,3.753185e+03,Lac,111104.0
111022.0,110675,213310.0,8572.0,NaN,5 Lac,NaN,22.492173,47.706887,505.0505,4.34,M0II,NaN,5.0,4.081314e+03,Lac,111022.0
110609.0,110263,212593.0,8541.0,NaN,4 Lac,NaN,22.408609,49.476392,689.6552,4.55,B9Iab,NaN,4.0,6.269025e+03,Lac,110609.0
110538.0,110192,212496.0,8538.0,NaN,3Bet Lac,NaN,22.392675,52.229046,52.1105,4.42,G9III,Bet,3.0,4.036454e+01,Lac,110538.0
111169.0,110822,213558.0,8585.0,NaN,7Alp Lac,NaN,22.521515,50.282491,31.4564,3.76,A1V,Alp,7.0,2.701469e+01,Lac,111169.0

In [88]:
part_1_df.to_csv('part_1_df.csv', index=False)

In [92]:
Sct_con = ((92175, 91117), (91117, 90595), (90595, 92814), (92814, 92202), (92202, 92175))
CrA_con = ((90887, 91875), (91875, 92989), (92989, 93174), (93174, 93825), (93825, 94114), (94114, 94160), (94160, 94005), (94005, 93542), (93542, 92953))
Aql_con = ((93244, 93747), (93747, 95501), (95501, 93805), (99473, 97804), (95501, 97804), (97649, 95501), (98036, 97649), (97278, 97649))
Sge_con = ((98920, 98337), (98337, 97365), (97365, 96757), (97365, 96837))
Vul_con = ((98543, 95771))
Cyg_con = ((95947, 98110), (98110, 100453), (100453, 102098), (107310, 104732), (104732, 102488), (102488, 100453), (100453, 97165), (97165, 95853), (95853, 94779))
Cep_con = ((106032, 116727), (116727, 112724), (112724, 106032), (106032, 105199), (105199, 109492), (109492, 112724))
Cap_con = ((107556, 106985), (106985, 105515), (105515, 104139), (104139, 100345), (100345, 100064), (105881, 105515), (105881, 104139), (102978, 104139), (102485, 100345))
Del_con = ((101421, 101769), (101769, 101958), (101958, 102532), (102532, 102281), (102281, 101769))
Mic_con = ((102831, 103738), (103738, 105140))
Ind_con = ((103227, 101772), (101772, 105319), (105319, 103227))
Aqr_con = ((102618, 106278), (106278, 109074), (109074, 110395), (110395, 110960), (110960, 111497), (111497, 112961), (112961, 114855), (114855, 115438),
           (114341, 113136), (113136, 112716), (112716, 111123), (111123, 110003), (110003, 109074), (109139, 110003))
Equ_con = ((104521, 104858), (104858, 105570), (105570, 104987))
PsA_con = ((113368, 111954), (111954, 108661), (108661, 107608), (107608, 109422), (109422, 111188), (111188, 113246))
Gru_con = ((109268, 110997), (110997, 114131), (114131, 114421), (114421, 112122), (112122, 109268), (113638, 112122), (112122, 112623), (108085, 109111), (109111, 109268))
Lac_con = ((109937, 111104), (111104, 111022), (111022, 110609), (110609, 110538), (110538, 111169), (111169, 111022))