In [1]:
import pandas as pd
import numpy as np
import scipy
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../naked_df.csv')
df = df.sort_values(by=['con'])
df = df.set_index(['con', 'hip'])
df

                  id        hd  hr   gl   bf proper         ra        dec  \
con hip
And 114642.0  114280       NaN NaN  NaN  NaN    NaN  23.224074  35.762021
    9194.0      9175   11951.0 NaN  NaN  NaN    NaN   1.972931  43.621980
    3251.0      3244    3858.0 NaN  NaN  NaN    NaN   0.690387  28.042635
    117691.0  117323       NaN NaN  NaN  NaN    NaN  23.868756  37.850250
    115461.0  115096       NaN NaN  NaN  NaN    NaN  23.388891  43.101533
...              ...       ...  ..  ...  ...    ...        ...        ...
Vul 97057.0    96750  344787.0 NaN  NaN  NaN    NaN  19.724830  23.177959
    100983.0  100657  334488.0 NaN  NaN  NaN    NaN  20.474322  28.954089
    101743.0  101416  346992.0 NaN  NaN  NaN    NaN  20.621383  23.895299
    98386.0    98075  333327.0 NaN  NaN  NaN    NaN  19.990121  28.241549
    102331.0  102000  197573.0 NaN  NaN  NaN    NaN  20.733344  21.400658

                     dist    mag  spect bayer  flam           lum
con hip
And 114642.0     293.2551   8.65     K0   NaN   NaN  2.596570e+01
    9194.0       343.6426   7.65     A0   NaN   NaN  8.961898e+01
    3251.0       390.6250   7.89     A5   NaN   NaN  9.281112e+01
    117691.0  100000.0000   8.73     M5   NaN   NaN  2.805434e+06
    115461.0     338.9831   9.41     A2   NaN   NaN  1.723455e+01
...                   ...    ...    ...   ...   ...           ...
Vul 97057.0   100000.0000   9.31   F8Ib   NaN   NaN  1.644372e+06
    100983.0     393.7008   8.73  G8III   NaN   NaN  4.349106e+01
    101743.0     434.7826  11.79     A2   NaN   NaN  3.165192e+00
    98386.0      196.4637   9.48     F8   NaN   NaN  5.425003e+00
    102331.0     105.9322   7.18     A2   NaN   NaN  1.312200e+01

[117951 rows x 14 columns]

In [3]:
# 'CMi', 'Cha', 'Cnc', 'Vel', 'UMa', 'Hya', 'Pyx', 'Leo', 'LMi',
# 'Dra', 'Ant', 'Sex', 'Crt', 'Cen', 'Mus', 'Vir', 'Cru', 'Crv',

In [4]:
# ===================================== 1
# CMi = Canis Minor (малый пёс)

In [5]:
CMi = df.xs('CMi', level='con')
CMi = CMi.loc[[37279, 36188]]
CMi['con'] = 'CMi'

In [6]:
CMi.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
37279.0,37173,61421.0,2943.0,Gl 280A,10Alp CMi,Procyon,7.655033,5.224993,3.5142,0.40,F5IV-V,Alp,10.0,7.440464,CMi
36188.0,36087,58715.0,2845.0,NaN,3Bet CMi,Gomeisa,7.452512,8.289315,49.5786,2.89,B8Vvar,Bet,3.0,149.416996,CMi

In [7]:
CMi_con = ((37279, 36188))

In [8]:
# ===================================== 2
# Cha = Chamaeleon (хамелеон)

In [81]:
Cha = df.xs('Cha', level='con')
Cha = Cha.loc[[40702, 51839, 60000]]
Cha['con'] = 'Cha'

In [82]:
Cha.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
40702.0,40587,71243.0,3318.0,Gl 305,Alp Cha,NaN,8.308703,-76.919722,19.5618,4.05,F5III,Alp,NaN,7.994660,Cha
60000.0,59816,106911.0,4674.0,NaN,Bet Cha,NaN,12.305812,-79.312240,91.4913,4.24,B5Vn,Bet,NaN,146.824997,Cha
51839.0,51690,92305.0,4174.0,NaN,Gam Cha,NaN,10.591166,-78.607786,128.0410,4.11,M0III,Gam,NaN,324.190288,Cha

In [83]:
Cha_con = ((40702, 51839), (51839, 60000))

In [12]:
# ===================================== 3
# Cnc = Cancer (рак)

In [13]:
Cnc = df.xs('Cnc', level='con')
Cnc = Cnc.loc[[44066, 42911, 42806, 43103, 40526, 40843]]
Cnc['con'] = 'Cnc'

In [14]:
Cnc.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
44066.0,43939,76756.0,3572.0,NaN,65Alp Cnc,Acubens,8.974784,11.857701,57.7367,4.26,A5m,Alp,65.0,57.385213,Cnc
40526.0,40411,69267.0,3249.0,NaN,17Bet Cnc,Tarf,8.275256,9.185545,93.0233,3.53,K4III,Bet,17.0,291.877085,Cnc
40843.0,40728,69897.0,3262.0,Gl 303,18Chi Cnc,NaN,8.334406,27.217707,18.2715,5.13,F6V,Chi,18.0,2.579883,Cnc
42911.0,42792,74442.0,3461.0,NaN,47Del Cnc,Asellus Australis,8.744750,18.154309,40.0320,3.94,K0III,Del,47.0,37.051006,Cnc
42806.0,42687,74198.0,3449.0,NaN,43Gam Cnc,Asellus Borealis,8.721431,21.468501,55.5556,4.66,A1IV,Gam,43.0,36.779007,Cnc
43103.0,42984,74739.0,3475.0,NaN,48Iot Cnc,NaN,8.778284,28.759898,101.5228,4.03,G8Iab:,Iot,48.0,219.381499,Cnc

In [15]:
Cnc_con = ((44066, 42911), (42911, 42806), (42806, 43103), (40526, 42911), (40843, 42806))

In [16]:
# ===================================== 4
# Vel = Vela (парус)

In [17]:
Vel = df.xs('Vel', level='con')
Vel = Vel.loc[[39953, 44816, 46651, 50191, 51986, 52727, 48774, 45941, 42913, 42536]]
Vel['con'] = 'Vel'

In [18]:
Vel.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
42913.0,42794,74956.0,3485.0,Gl 321.3A,Del Vel,Alsephina,8.745059,-54.708821,24.6975,1.93,A1V,Del,NaN,89.784217,Vel
39953.0,39840,68273.0,3207.0,NaN,Gam2Vel,NaN,8.158876,-47.336588,342.4658,1.75,WC8 + O9I,Gam-2,NaN,20379.803863,Vel
45941.0,45809,81188.0,3734.0,NaN,Kap Vel,Markeb,9.368562,-55.010668,175.4386,2.47,B2IV,Kap,NaN,2756.766610,Vel
44816.0,44689,78647.0,3634.0,NaN,Lam Vel,Suhail,9.133268,-43.432589,166.9449,2.23,K4Ib-II,Lam,NaN,3113.149665,Vel
52727.0,52575,93497.0,4216.0,NaN,Mu Vel,NaN,10.779488,-49.420255,35.9195,2.69,G5III SB,Mu,NaN,94.362622,Vel
42536.0,42416,74195.0,3447.0,NaN,NaN,NaN,8.671554,-52.921887,151.2859,3.60,B3IV,Omi,NaN,723.769037,Vel
48774.0,48635,86440.0,3940.0,NaN,Phi Vel,NaN,9.947708,-54.567790,487.8049,3.52,B5Ib,Phi,NaN,8098.414473,Vel
46651.0,46518,82434.0,3786.0,Gl 351A,Psi Vel,NaN,9.511674,-40.466769,18.8147,3.60,F2IV,Psi,NaN,11.189225,Vel
50191.0,50050,88955.0,4023.0,NaN,NaN,NaN,10.245607,-42.121942,31.0752,3.85,A2V,NaN,NaN,24.254929,Vel
51986.0,51837,92139.0,4167.0,NaN,NaN,NaN,10.621717,-48.225620,26.8384,3.84,A3m+...,NaN,NaN,18.264172,Vel

In [76]:
Vel_con = ((39953, 44816), (44816, 46651), (46651, 50191), (50191, 51986), (51986, 52727), (52727, 48774), (48774, 45941), (45941, 42913), (42913, 42536), (42536, 39953))

In [20]:
# ===================================== 5
# UMa = Ursa Major (большая медведица)

In [21]:
UMa = df.xs('UMa', level='con')
UMa = UMa.loc[[67301, 65378, 62956, 59774, 54061, 53910, 58001]]
UMa['con'] = 'UMa'

In [22]:
UMa.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
54061.0,53905,95689.0,4301.0,NaN,50Alp UMa,Dubhe,11.062155,61.751033,37.6790,1.81,F7V comp,Alp,50.0,233.345806,UMa
53910.0,53754,95418.0,4295.0,GJ 9343,48Bet UMa,Merak,11.030677,56.382427,24.4499,2.34,A1V,Bet,48.0,60.311482,UMa
59774.0,59592,106591.0,4660.0,Gl 459,69Del UMa,Megrez,12.257086,57.032617,24.6853,3.32,A3Vvar,Del,69.0,24.934462,UMa
62956.0,62757,112185.0,4905.0,NaN,77Eps UMa,Alioth,12.900472,55.959821,25.3100,1.76,A0p,Eps,77.0,110.255433,UMa
67301.0,67088,120315.0,5191.0,NaN,85Eta UMa,Alkaid,13.792354,49.313265,31.8674,1.85,B3V SB,Eta,85.0,160.990408,UMa
58001.0,57828,103287.0,4554.0,NaN,64Gam UMa,Phecda,11.897168,53.694760,25.5037,2.41,A0V SB,Gam,64.0,61.546024,UMa
65378.0,65173,116656.0,5054.0,GJ 3783A,79Zet UMa,Mizar,13.398747,54.925362,26.3089,2.23,A2V,Zet,79.0,77.339258,UMa

In [23]:
UMa_con = ((67301, 65378), (65378, 62956), (62956, 59774), (59774, 54061), (54061, 53910), (53910, 58001), (58001, 59774))

In [24]:
# ===================================== 6
# Hya = Hydra (гидра)

In [25]:
Hya = df.xs('Hya', level='con')
Hya = Hya.loc[[64962, 64166, 57936, 56343, 52943, 51069, 49841, 48356, 46390, 46509, 46776, 45336, 43813, 43234, 43109, 42313, 42402, 42799]]
Hya['con'] = 'Hya'

In [26]:
Hya.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
46390.0,46259,81797.0,3748.0,NaN,30Alp Hya,Alphard,9.459790,-8.658603,55.2792,1.99,K3III,Alp,30.0,425.794454,Hya
57936.0,57763,103192.0,4552.0,NaN,Bet Hya,NaN,11.881813,-33.908124,94.9668,4.29,Ap Si,Bet,NaN,151.077573,Hya
42313.0,42195,73262.0,3410.0,NaN,4Del Hya,NaN,8.627602,5.703782,49.1642,4.14,A1Vnn,Del,4.0,46.472924,Hya
43109.0,42990,74874.0,3482.0,NaN,11Eps Hya,Ashlesha,8.779587,6.418809,39.6354,3.38,G0III-IV,Eps,11.0,60.813500,Hya
42799.0,42680,74280.0,3454.0,NaN,7Eta Hya,NaN,8.720410,3.398662,179.8561,4.30,B3V...,Eta,7.0,537.031796,Hya
64962.0,64758,115659.0,5020.0,NaN,46Gam Hya,NaN,13.315359,-23.171512,41.0341,2.99,G8III,Gam,46.0,93.411426,Hya
49841.0,49700,88284.0,3994.0,NaN,41Lam Hya,NaN,10.176467,-12.354083,34.5066,3.61,K0III,Lam,41.0,37.325016,Hya
51069.0,50924,90432.0,4094.0,NaN,42Mu Hya,NaN,10.434842,-16.836290,71.7875,3.83,K4III,Mu,42.0,131.825674,Hya
52943.0,52789,93813.0,4232.0,NaN,Nu Hya,NaN,10.827079,-16.193648,44.0723,3.11,K0/K1III,Nu,NaN,96.471715,Hya
64166.0,63963,114149.0,4958.0,NaN,45Psi Hya,NaN,13.150909,-23.118070,70.9723,4.94,K0III,Psi,45.0,46.344692,Hya
43234.0,43113,75137.0,3492.0,NaN,13Rho Hya,NaN,8.807214,5.837812,108.5776,4.35,A0Vn,Rho,13.0,186.895997,Hya
42402.0,42283,73471.0,3418.0,NaN,5Sig Hya,Minchir,8.645955,3.341435,114.2857,4.45,K2III,Sig,5.0,188.799135,Hya
46509.0,46376,81997.0,3759.0,Gl 348A,31Tau1Hya,NaN,9.485805,-2.768964,17.3340,4.59,F6V,Tau-1,31.0,3.815926,Hya
46776.0,46643,82446.0,3787.0,NaN,32Tau2Hya,NaN,9.533036,-1.184664,158.7302,4.54,A3V,Tau-2,32.0,335.119732,Hya
45336.0,45204,79469.0,3665.0,NaN,22The Hya,NaN,9.239405,2.314280,34.7947,3.89,B9.5V,The,22.0,29.322433,Hya
48356.0,48219,85444.0,3903.0,NaN,39Ups1Hya,Zhang,9.857970,-14.846603,80.9061,4.11,G6/G8III,Ups-1,39.0,129.419584,Hya
56343.0,56174,100407.0,4450.0,NaN,Xi Hya,NaN,11.550038,-31.857625,39.7456,3.54,G8III,Xi,NaN,52.771568,Hya
43813.0,43689,76294.0,3547.0,NaN,16Zet Hya,NaN,8.923230,5.945563,51.2558,3.11,G8III-IV,Zet,16.0,130.496841,Hya

In [27]:
Hya_con = ((64962, 64166), (64166, 57936), (57936, 56343), (56343, 52943), (52943, 51069), (51069, 49841), (49841, 48356),
           (48356, 46390), (46390, 46509), (46509, 46776), (46776, 45336), (45336, 43813), (43813, 43234), (43234, 43109),
           (43109, 42313), (42313, 42402), (42402, 42799), (42799, 43234))

In [28]:
# ===================================== 7
# Pyx = Pyxis (компас)

In [29]:
Pyx = df.xs('Pyx', level='con')
Pyx = Pyx.loc[[42515, 42828, 43409]]
Pyx['con'] = 'Pyx'

In [30]:
Pyx.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
42828.0,42709,74575.0,3468.0,NaN,Alp Pyx,NaN,8.726539,-33.186385,269.5418,3.68,B1.5III,Alp,NaN,2134.027443,Pyx
42515.0,42396,74006.0,3438.0,NaN,Bet Pyx,NaN,8.668373,-35.308352,127.5510,3.97,G5II/III,Bet,NaN,365.763193,Pyx
43409.0,43286,75691.0,3518.0,NaN,Gam Pyx,NaN,8.842204,-27.709844,63.5728,4.02,K3III,Gam,NaN,86.776074,Pyx

In [77]:
Pyx_con = ((42515, 42828), (42828, 43409))

In [32]:
# ===================================== 8
# Leo = Leo (лев)

In [33]:
Leo = df.xs('Leo', level='con')
Leo = Leo.loc[[47908, 48455, 50335, 50583, 49583, 49669, 54879, 57632, 54872]]
Leo['con'] = 'Leo'

In [34]:
Leo.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
49669.0,49528,87901.0,3982.0,NaN,32Alp Leo,Regulus,10.139532,11.967207,24.3132,1.36,B7V,Alp,32.0,147.095708,Leo
57632.0,57459,102647.0,4534.0,Gl 448,94Bet Leo,Denebola,11.817663,14.572060,10.9999,2.14,A3Vvar,Bet,94.0,14.682500,Leo
54872.0,54712,97603.0,4357.0,Gl 419,68Del Leo,Zosma,11.235138,20.523717,17.9147,2.56,A4V,Del,68.0,26.448436,Leo
47908.0,47772,84441.0,3873.0,NaN,17Eps Leo,Ras Elased Australis,9.764188,23.774255,75.6430,2.97,G0II,Eps,17.0,323.295753,Leo
49583.0,49441,87737.0,3975.0,NaN,30Eta Leo,NaN,10.122209,16.762664,389.1051,3.48,A0Ib,Eta,30.0,5345.643594,Leo
50583.0,50440,89484.0,4057.0,NaN,41Gam1Leo,Algieba,10.332873,19.841489,39.8883,2.01,K0III,Gam-1,41.0,217.570495,Leo
48455.0,48318,85503.0,3905.0,NaN,24Mu Leo,Rasalas,9.879398,26.006951,38.0518,3.88,K0III,Mu,24.0,35.383436,Leo
54879.0,54718,97633.0,4359.0,NaN,70The Leo,Chertan,11.237335,15.429570,50.6073,3.33,A2V,The,70.0,103.848446,Leo
50335.0,50193,89025.0,4031.0,NaN,36Zet Leo,Adhafera,10.278171,23.417311,84.0336,3.43,F0III,Zet,36.0,261.095869,Leo

In [35]:
Leo_con = ((47908, 48455), (48455, 50335), (50335, 50583), (50583, 49583), (49583, 49669), (49669, 54879), (54879, 57632), (57632, 54872), (54872, 50583), (54872, 54879))

In [36]:
# ===================================== 9
# LMi = Leo Minor (малый лев)

In [37]:
LMi = df.xs('LMi', level='con')
LMi = LMi.loc[[46952, 49593, 51233, 53229]]
LMi['con'] = 'LMi'

In [38]:
LMi.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
51233.0,51089,90537.0,4100.0,NaN,31Bet LMi,NaN,10.464727,36.707212,47.1921,4.20,G8III-IV,Bet,31.0,40.513522,LMi
46952.0,46819,82635.0,3800.0,NaN,10 LMi,NaN,9.570384,36.397558,56.7215,4.54,G8III,NaN,10.0,42.815399,LMi
49593.0,49451,87696.0,3974.0,Gl 378.3,21 LMi,NaN,10.123821,35.244693,28.2406,4.49,A7V,NaN,21.0,11.107083,LMi
53229.0,53075,94264.0,4247.0,NaN,46 LMi,Praecipua,10.888526,34.214871,29.0867,3.79,K0III-IV,NaN,46.0,22.449155,LMi

In [39]:
LMi_con = ((46952, 49593), (49593, 51233), (51233, 53229), (53229, 49593))

In [40]:
# ===================================== 10
# Dra = Draco (дракон)

In [41]:
Dra = df.xs('Dra', level='con')
Dra = Dra.loc[[56211, 61281, 68756, 75458, 78527, 80331, 83895, 89937, 94648, 97433, 94376, 87585, 85819, 85670, 87833]]
Dra['con'] = 'Dra'

In [42]:
Dra.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
68756.0,68537,123299.0,5291.0,NaN,11Alp Dra,Thuban,14.073165,64.375850,92.9368,3.67,A0III SB,Alp,11.0,256.094352,Dra
85670.0,85410,159181.0,6536.0,NaN,23Bet Dra,Rastaban,17.507213,52.301387,116.5501,2.79,G2II,Bet,23.0,906.149802,Dra
89937.0,89660,170153.0,6927.0,Gl 713A,44Chi Dra,NaN,18.350736,72.732843,8.0574,3.55,F7Vvar,Chi,44.0,2.149810,Dra
94376.0,94081,180711.0,7310.0,NaN,57Del Dra,Altais,19.209225,67.661541,29.8686,3.07,G9III,Del,57.0,45.962114,Dra
97433.0,97124,188119.0,7582.0,NaN,63Eps Dra,NaN,19.802850,70.267930,45.3721,3.84,G8III,Eps,63.0,52.191527,Dra
80331.0,80089,148387.0,6132.0,Gl 624.1A,14Eta Dra,Athebyne,16.399860,61.514213,28.2326,2.73,G8III,Eta,14.0,56.182363,Dra
87833.0,87561,164058.0,6705.0,NaN,33Gam Dra,Eltanin,17.943437,51.488895,47.3037,2.24,K5III,Gam,33.0,247.514132,Dra
75458.0,75229,137759.0,5744.0,NaN,12Iot Dra,Edasich,15.415494,58.966065,31.0270,3.29,K2III,Iot,12.0,40.513522,Dra
61281.0,61088,109387.0,4787.0,NaN,5Kap Dra,NaN,12.558058,69.788238,150.3759,3.85,B6IIIp,Kap,5.0,568.067574,Dra
56211.0,56044,100029.0,4434.0,NaN,1Lam Dra,Giausar,11.523407,69.331076,102.1450,3.82,M0IIIvar,Lam,1.0,269.401494,Dra
85819.0,85557,159541.0,6554.0,NaN,24Nu 1Dra,NaN,17.536251,55.184243,30.2480,4.89,Am...,Nu-1,24.0,8.814547,Dra
94648.0,94352,181984.0,7352.0,NaN,60Tau Dra,NaN,19.259229,73.355468,44.8833,4.45,K3III,Tau,60.0,29.107171,Dra
78527.0,78290,144284.0,5986.0,Gl 609.1,13The Dra,NaN,16.031532,58.565251,21.0349,4.01,F8IV-V,The,13.0,9.594006,Dra
87585.0,87314,163588.0,6688.0,NaN,32Xi Dra,Grumium,17.892134,56.872643,34.5066,3.73,K2III,Xi,32.0,33.419504,Dra
83895.0,83638,155763.0,6396.0,NaN,22Zet Dra,Aldhibah,17.146448,65.714683,100.7049,3.17,B6III,Zet,22.0,476.430987,Dra

In [43]:
Dra_con = ((56211, 61281), (61281, 68756), (68756, 75458), (75458, 78527), (78527, 80331), (80331, 83895), (83895, 89937),
           (89937, 94648), (94648, 97433), (97433, 94376), (94376, 87585), (87585, 85819), (85819, 85670), (85670, 87833), (87833, 87585))

In [44]:
# ===================================== 11
# Ant = Antilia (насос)

In [45]:
Ant = df.xs('Ant', level='con')
Ant = Ant.loc[[51172, 48926]]
Ant['con'] = 'Ant'

In [46]:
Ant.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
51172.0,51027,90610.0,4104.0,NaN,Alp Ant,NaN,10.452530,-31.067779,112.2334,4.28,K4III,Alp,NaN,213.010004,Ant
48926.0,48786,86629.0,3947.0,NaN,Eta Ant,NaN,9.981191,-35.890973,33.3111,5.23,A8IV,Eta,NaN,7.819878,Ant

In [47]:
Ant_con = ((51172, 48926))

In [48]:
# ===================================== 12
# Sex = Sextant (секстант)

In [49]:
Sex = df.xs('Sex', level='con')
Sex = Sex.loc[[51437, 49641]]
Sex['con'] = 'Sex'

In [50]:
Sex.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
49641.0,49500,87887.0,3981.0,NaN,15Alp Sex,NaN,10.132300,-0.371637,86.8810,4.48,A0III,Alp,15.0,106.169556,Sex
51437.0,51290,90994.0,4119.0,NaN,30Bet Sex,NaN,10.504855,-0.637026,124.0695,5.08,B6V,Bet,30.0,124.508786,Sex

In [51]:
Sex_con = ((51437, 49641))

In [52]:
# ===================================== 13
# Crt = Crater (чаша)

In [53]:
Crt = df.xs('Crt', level='con')
Crt = Crt.loc[[53740, 54682, 55705, 57283, 58188, 56633, 55687, 55282]]
Crt['con'] = 'Crt'

In [54]:
Crt.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
53740.0,53584,95272.0,4287.0,NaN,7Alp Crt,Alkes,10.996244,-18.298783,48.8043,4.08,K1III,Alp,7.0,48.394945,Crt
54682.0,54522,97277.0,4343.0,Gl 416.1,11Bet Crt,NaN,11.194302,-22.825847,104.2753,4.46,A1V,Bet,11.0,155.739939,Crt
55282.0,55118,98430.0,4382.0,NaN,12Del Crt,NaN,11.322347,-14.778541,56.9476,3.56,K0III,Del,12.0,106.365308,Crt
55687.0,55521,99167.0,4402.0,NaN,14Eps Crt,NaN,11.410164,-10.859323,115.3403,4.81,K5III,Eps,14.0,138.038426,Crt
58188.0,58014,103632.0,4567.0,NaN,30Eta Crt,NaN,11.933599,-17.150829,77.1010,5.17,A0V,Eta,30.0,44.258837,Crt
55705.0,55539,99211.0,4405.0,NaN,15Gam Crt,NaN,11.414702,-17.684010,25.2398,4.06,A9V,Gam,15.0,13.182567,Crt
56633.0,56464,100889.0,4468.0,NaN,21The Crt,NaN,11.611365,-9.802247,85.9845,4.70,B9.5Vn,The,21.0,84.878950,Crt
57283.0,57111,102070.0,4514.0,NaN,27Zet Crt,NaN,11.746049,-18.350674,108.2251,4.71,G8III,Zet,27.0,133.290746,Crt

In [55]:
Crt_con = ((53740, 54682), (54682, 55705), (55705, 57283), (57283, 58188), (58188, 56633), (56633, 55687), (55687, 55282), (55282, 53740), (55705, 55282))

In [56]:
# ===================================== 14
# Cen = Centaurus (кентавр)

In [57]:
Cen = df.xs('Cen', level='con')
Cen = Cen.loc[[56561, 56480, 59196, 60823, 61932, 68002, 68282, 67472, 67464, 68933, 71683, 68702, 66657, 73334, 71352, 65109, 65936]]
Cen['con'] = 'Cen'

In [58]:
Cen.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
71683.0,71456,128620.0,5459.0,Gl 559A,Alp1Cen,Rigil Kentaurus,14.660765,-60.833976,1.3248,-0.01,G2V,Alp-1,NaN,1.543121,Cen
68702.0,68483,122451.0,5267.0,NaN,Bet Cen,Hadar,14.063729,-60.373039,120.1923,0.61,B1III,Bet,NaN,7171.334827,Cen
59196.0,59016,105435.0,4621.0,NaN,Del Cen,NaN,12.139310,-50.722425,127.2265,2.58,B2IVne,Del,NaN,1309.784962,Cen
66657.0,66447,118716.0,5132.0,NaN,Eps Cen,NaN,13.664796,-53.466394,131.0616,2.29,B1III,Eps,NaN,1814.679779,Cen
71352.0,71125,127972.0,5440.0,NaN,Eta Cen,NaN,14.591786,-42.157824,93.7207,2.33,B1Vn + A,Eta,NaN,894.540484,Cen
61932.0,61739,110304.0,4819.0,NaN,Gam Cen,NaN,12.691971,-48.959888,39.9042,2.20,A1IV,Gam,NaN,182.810022,Cen
65109.0,64904,115892.0,5028.0,Gl 508.1,Iot Cen,NaN,13.343296,-36.712295,18.0213,2.75,A2V,Iot,NaN,22.469841,Cen
73334.0,73107,132200.0,5576.0,NaN,Kap Cen,NaN,14.986025,-42.104194,117.5088,3.13,B2IV,Kap,NaN,672.976656,Cen
56561.0,56392,100841.0,4467.0,NaN,Lam Cen,NaN,11.596363,-63.019841,128.7001,3.11,B9II:,Lam,NaN,822.621394,Cen
67472.0,67259,120324.0,5193.0,NaN,Mu Cen,NaN,13.826943,-42.473732,155.0388,3.47,B2IV-Ve,Mu,NaN,856.643256,Cen
67464.0,67251,120307.0,5190.0,NaN,Nu Cen,NaN,13.825078,-41.687709,133.8688,3.41,B2IV,Nu,NaN,674.838731,Cen
60823.0,60635,108483.0,4743.0,NaN,Sig Cen,NaN,12.467331,-50.230635,126.2626,3.91,B3V,Sig,NaN,378.791304,Cen
68933.0,68714,123139.0,5288.0,Gl 539,5The Cen,Menkent,14.111395,-36.369954,18.0343,2.06,K0IIIb,The,5.0,42.461956,Cen
68282.0,68064,121790.0,5249.0,NaN,Ups1Cen,NaN,13.977987,-44.803584,131.0616,3.87,B2IV-V,Ups-1,NaN,423.447916,Cen
68002.0,67786,121263.0,5231.0,NaN,Zet Cen,NaN,13.925667,-47.288375,117.0960,2.55,B2.5IV,Zet,NaN,1140.775013,Cen
56480.0,56311,100673.0,4460.0,NaN,NaN,NaN,11.579355,-54.264091,130.7190,4.62,B9V,NaN,NaN,211.251597,Cen
65936.0,65729,117440.0,5089.0,NaN,NaN,NaN,13.517405,-39.407307,277.7778,3.90,G8II/III,NaN,NaN,1850.120435,Cen

In [59]:
Cen_con = ((56561, 56480), (56480, 59196), (59196, 60823), (60823, 61932), (61932, 68002), (68002, 68282), (68282, 67472), (67472, 67464), (67464, 68933),
           (71683, 68702), (68702, 66657), (66657, 68002), (73334, 71352), (71352, 67472), (65109, 65936), (65936, 67464))

In [60]:
# ===================================== 15
# Mus = Musca (муха)

In [61]:
Mus = df.xs('Mus', level='con')
Mus = Mus.loc[[57363, 62322, 61585, 61199]]
Mus['con'] = 'Mus'

In [62]:
Mus.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
61585.0,61392,109668.0,4798.0,NaN,Alp Mus,NaN,12.619739,-69.135564,96.7118,2.69,B2IV-V,Alp,NaN,683.596767,Mus
62322.0,62127,110879.0,4844.0,NaN,Bet Mus,NaN,12.771346,-68.108119,104.7120,3.04,B2V,Bet,NaN,580.764418,Mus
61199.0,61008,109026.0,4773.0,NaN,Gam Mus,NaN,12.541134,-72.132988,99.6016,3.84,B5V,Gam,NaN,251.420103,Mus
57363.0,57190,102249.0,4520.0,NaN,Lam Mus,NaN,11.760141,-66.728763,38.9864,3.63,A7III,Lam,NaN,46.773514,Mus

In [63]:
Mus_con = ((57363, 62322), (62322, 61585), (61585, 61199), (61199, 57363))

In [64]:
# ===================================== 16
# Vir = Virgo (дева)

In [65]:
Vir = df.xs('Vir', level='con')
Vir = Vir.loc[[57380, 60129, 61941, 63090, 63608, 65474, 66249, 72220, 68520, 71957, 69701, 69427]]
Vir['con'] = 'Vir'

In [66]:
Vir.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
65474.0,65269,116658.0,5056.0,NaN,67Alp Vir,Spica,13.419883,-11.161322,76.5697,0.98,B1V,Alp,67.0,2070.141349,Vir
63090.0,62890,112300.0,4910.0,NaN,43Del Vir,Minelauva,12.926725,3.397470,60.8273,3.39,M3III,Del,43.0,141.905752,Vir
63608.0,63405,113226.0,4932.0,NaN,47Eps Vir,Vindemiatrix,13.036278,10.959150,33.6022,2.85,G8IIIvar,Eps,47.0,71.252482,Vir
60129.0,59945,107259.0,4689.0,NaN,15Eta Vir,Zaniah,12.331766,-0.666803,81.3670,3.89,A2IV,Eta,15.0,160.250724,Vir
61941.0,61748,110379.0,4825.0,Gl 482A,29Gam Vir,Porrima,12.694345,-1.449375,11.6850,2.74,F0V+...,Gam,29.0,9.532350,Vir
69701.0,69479,124850.0,5338.0,GJ 9473,99Iot Vir,Syrma,14.266908,-6.000547,22.2370,4.07,F7V,Iot,99.0,10.139114,Vir
69427.0,69205,124294.0,5315.0,NaN,98Kap Vir,Kang,14.214929,-10.273702,78.1250,4.18,K3III,Kap,98.0,113.135786,Vir
71957.0,71731,129502.0,5487.0,GJ 9491,107Mu Vir,NaN,14.717673,-5.658207,18.2715,3.87,F2III,Mu,107.0,8.233794,Vir
57380.0,57208,102212.0,4517.0,NaN,3Nu Vir,NaN,11.764322,6.529376,90.0901,4.04,M0III,Nu,3.0,171.080299,Vir
68520.0,68302,122408.0,5264.0,NaN,93Tau Vir,NaN,14.027443,1.544532,68.9655,4.23,A3V,Tau,93.0,84.178271,Vir
66249.0,66040,118098.0,5107.0,GJ 3792,79Zet Vir,Heze,13.578220,-0.595820,22.7118,3.38,A3V,Zet,79.0,19.971009,Vir
72220.0,71994,130109.0,5511.0,NaN,109 Vir,NaN,14.770812,1.892885,41.2371,3.73,A0V,NaN,109.0,47.687000,Vir

In [67]:
Vir_con = ((57380, 60129), (60129, 61941), (61941, 63090), (63090, 63608), (65474, 66249), (65474, 61941), (66249, 63090),
           (72220, 68520), (68520, 66249), (71957, 69701), (69701, 69427), (69427, 65474))

In [68]:
# ===================================== 17
# Cru = Crux (южный крест)

In [69]:
Cru = df.xs('Cru', level='con')
Cru = Cru.loc[[61084, 60718, 62434, 59747]]
Cru['con'] = 'Cru'

In [70]:
Cru.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
60718.0,60530,108248.0,4730.0,NaN,Alp1Cru,Acrux,12.443311,-63.099092,98.7167,0.77,B0.5IV,Alp-1,NaN,4176.379930,Cru
62434.0,62239,111123.0,4853.0,NaN,Bet Cru,Mimosa,12.795359,-59.688764,85.3971,1.25,B0.5III,Bet,NaN,2008.167804,Cru
59747.0,59565,106490.0,4656.0,NaN,Del Cru,Imai,12.252427,-58.748928,105.8201,2.79,B2IV,Del,NaN,746.792590,Cru
61084.0,60893,108903.0,4763.0,NaN,Gam Cru,Gacrux,12.519429,-57.113212,27.1518,1.59,M4III,Gam,NaN,148.456768,Cru

In [71]:
Cru_con = ((61084, 60718), (62434, 59747))

In [72]:
# ===================================== 18
# Crv = Corvus (ворон)

In [73]:
Crv = df.xs('Crv', level='con')
Crv = Crv.loc[[61174, 60965, 59803, 59316, 59199, 61359]]
Crv['con'] = 'Crv'

In [74]:
Crv.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
59199.0,59020,105452.0,4623.0,Gl 455.3,1Alp Crv,Alchiba,12.140225,-24.728875,14.9365,4.02,F0IV/V,Alp,1.0,4.790711,Crv
61359.0,61166,109379.0,4786.0,NaN,9Bet Crv,Kraz,12.573121,-23.396759,44.6628,2.65,G5II,Bet,9.0,151.356125,Crv
60965.0,60776,108767.0,4757.0,NaN,7Del Crv,Algorab,12.497739,-16.515432,26.6312,2.94,B9.5V,Del,7.0,41.190778,Crv
59316.0,59134,105707.0,4630.0,NaN,2Eps Crv,NaN,12.168746,-22.619766,97.4659,3.02,K2III,Eps,2.0,512.389239,Crv
61174.0,60983,109085.0,4775.0,Gl 471.2,8Eta Crv,NaN,12.534510,-16.196007,18.2815,4.30,F2V,Eta,8.0,5.546257,Crv
59803.0,59621,106625.0,4662.0,NaN,4Gam Crv,Gienah,12.263437,-17.541929,47.1032,2.58,B8III,Gam,4.0,179.473363,Crv

In [75]:
Crv_con = ((61174, 60965), (60965, 59803), (59803, 59316), (59316, 59199), (61359, 59316), (61359, 60965))

!CONCLUSION!

!CONCLUSION!

!CONCLUSION!

In [78]:
# 'CMi', 'Cha', 'Cnc', 'Vel', 'UMa', 'Hya', 'Pyx', 'Leo', 'LMi',
# 'Dra', 'Ant', 'Sex', 'Crt', 'Cen', 'Mus', 'Vir', 'Cru', 'Crv',

In [84]:
part_4_df = pd.concat([CMi, Cha, Cnc, Vel, UMa, Hya, Pyx, Leo, LMi, Dra, Ant, Sex, Crt, Cen, Mus, Vir, Cru, Crv])
part_4_df['hip'] = part_4_df.index
part_4_df.to_csv('part_4_df.csv', index=False)

In [ ]:
CMi_con = ((37279, 36188))
Cha_con = ((40702, 51839), (51839, 60000))
Cnc_con = ((44066, 42911), (42911, 42806), (42806, 43103), (40526, 42911), (40843, 42806))
Vel_con = ((39953, 44816), (44816, 46651), (46651, 50191), (50191, 51986), (51986, 52727), (52727, 48774), (48774, 45941), (45941, 42913), (42913, 42536), (42536, 39953))
UMa_con = ((67301, 65378), (65378, 62956), (62956, 59774), (59774, 54061), (54061, 53910), (53910, 58001), (58001, 59774))
Hya_con = ((64962, 64166), (64166, 57936), (57936, 56343), (56343, 52943), (52943, 51069), (51069, 49841), (49841, 48356),
           (48356, 46390), (46390, 46509), (46509, 46776), (46776, 45336), (45336, 43813), (43813, 43234), (43234, 43109),
           (43109, 42313), (42313, 42402), (42402, 42799), (42799, 43234))
Pyx_con = ((42515, 42828), (42828, 43409))
Leo_con = ((47908, 48455), (48455, 50335), (50335, 50583), (50583, 49583), (49583, 49669), (49669, 54879), (54879, 57632), (57632, 54872), (54872, 50583), (54872, 54879))
LMi_con = ((46952, 49593), (49593, 51233), (51233, 53229), (53229, 49593))
Dra_con = ((56211, 61281), (61281, 68756), (68756, 75458), (75458, 78527), (78527, 80331), (80331, 83895), (83895, 89937),
           (89937, 94648), (94648, 97433), (97433, 94376), (94376, 87585), (87585, 85819), (85819, 85670), (85670, 87833), (87833, 87585))
Ant_con = ((51172, 48926))
Sex_con = ((51437, 49641))
Crt_con = ((53740, 54682), (54682, 55705), (55705, 57283), (57283, 58188), (58188, 56633), (56633, 55687), (55687, 55282), (55282, 53740), (55705, 55282))
Cen_con = ((56561, 56480), (56480, 59196), (59196, 60823), (60823, 61932), (61932, 68002), (68002, 68282), (68282, 67472), (67472, 67464), (67464, 68933),
           (71683, 68702), (68702, 66657), (66657, 68002), (73334, 71352), (71352, 67472), (65109, 65936), (65936, 67464))
Mus_con = ((57363, 62322), (62322, 61585), (61585, 61199), (61199, 57363))
Vir_con = ((57380, 60129), (60129, 61941), (61941, 63090), (63090, 63608), (65474, 66249), (65474, 61941), (66249, 63090),
           (72220, 68520), (68520, 66249), (71957, 69701), (69701, 69427), (69427, 65474))
Cru_con = ((61084, 60718), (62434, 59747))
Crv_con = ((61174, 60965), (60965, 59803), (59803, 59316), (59316, 59199), (61359, 59316), (61359, 60965))