In [1]:
import pandas as pd
import numpy as np
import scipy
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../naked_df.csv')
df = df.sort_values(by=['con'])
df = df.set_index(['con', 'hip'])
df

                  id        hd  hr   gl   bf proper         ra        dec  \
con hip
And 114642.0  114280       NaN NaN  NaN  NaN    NaN  23.224074  35.762021
    9194.0      9175   11951.0 NaN  NaN  NaN    NaN   1.972931  43.621980
    3251.0      3244    3858.0 NaN  NaN  NaN    NaN   0.690387  28.042635
    117691.0  117323       NaN NaN  NaN  NaN    NaN  23.868756  37.850250
    115461.0  115096       NaN NaN  NaN  NaN    NaN  23.388891  43.101533
...              ...       ...  ..  ...  ...    ...        ...        ...
Vul 97057.0    96750  344787.0 NaN  NaN  NaN    NaN  19.724830  23.177959
    100983.0  100657  334488.0 NaN  NaN  NaN    NaN  20.474322  28.954089
    101743.0  101416  346992.0 NaN  NaN  NaN    NaN  20.621383  23.895299
    98386.0    98075  333327.0 NaN  NaN  NaN    NaN  19.990121  28.241549
    102331.0  102000  197573.0 NaN  NaN  NaN    NaN  20.733344  21.400658

                     dist    mag  spect bayer  flam           lum
con hip
And 114642.0     293.2551   8.65     K0   NaN   NaN  2.596570e+01
    9194.0       343.6426   7.65     A0   NaN   NaN  8.961898e+01
    3251.0       390.6250   7.89     A5   NaN   NaN  9.281112e+01
    117691.0  100000.0000   8.73     M5   NaN   NaN  2.805434e+06
    115461.0     338.9831   9.41     A2   NaN   NaN  1.723455e+01
...                   ...    ...    ...   ...   ...           ...
Vul 97057.0   100000.0000   9.31   F8Ib   NaN   NaN  1.644372e+06
    100983.0     393.7008   8.73  G8III   NaN   NaN  4.349106e+01
    101743.0     434.7826  11.79     A2   NaN   NaN  3.165192e+00
    98386.0      196.4637   9.48     F8   NaN   NaN  5.425003e+00
    102331.0     105.9322   7.18     A2   NaN   NaN  1.312200e+01

[117951 rows x 14 columns]

In [3]:
# 'Psc', 'Cet', 'And', 'Phe', 'Peg', 'Scl', 'Cas', 'Oct', 'Cep',
# 'Tuc', 'Hyi', 'UMi', 'Eri', 'Per', 'Tri', 'For', 'Ari', 'Hor',

In [4]:
# ===================================== 1
# Psc = Pisces (рыбы)

In [5]:
Psc = df.xs('Psc', level='con')
Psc = Psc.loc[[4889, 6193, 5742, 7097, 8198, 9487, 8833, 7884, 7007, 4906, 3760, 1645, 118268, 116771, 115830, 114971, 115738, 116928]]
Psc['con'] = 'Psc'

In [6]:
Psc.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
9487.0,9467,12446.0,595.0,NaN,113Alp Psc,Alrescha,2.034117,2.763759,46.1681,3.82,A2,Alp,113.0,55.055410,Psc
4906.0,4896,6186.0,294.0,NaN,71Eps Psc,NaN,1.049058,7.890135,55.7414,4.27,K0III,Eps,71.0,53.015151,Psc
7097.0,7083,9270.0,437.0,NaN,99Eta Psc,Alpherg,1.524725,15.345823,107.1811,3.62,G8III,Eta,99.0,356.779588,Psc
114971.0,114609,219615.0,8852.0,NaN,6Gam Psc,NaN,23.286094,3.282289,42.3012,3.70,G7III,Gam,6.0,51.617861,Psc
116771.0,116405,222368.0,8969.0,Gl 904,17Iot Psc,NaN,23.665844,5.626292,13.7137,4.13,F7V,Iot,17.0,3.650901,Psc
115738.0,115376,220825.0,8911.0,NaN,8Kap Psc,NaN,23.448876,1.255608,47.0588,4.95,A0p,Kap,8.0,20.192961,Psc
116928.0,116562,222603.0,8984.0,NaN,18Lam Psc,NaN,23.700779,1.780041,32.6904,4.49,A7V,Lam,18.0,14.886754,Psc
7007.0,6993,9138.0,434.0,NaN,98Mu Psc,NaN,1.503087,6.143820,93.1966,4.84,K4III,Mu,98.0,87.659704,Psc
7884.0,7869,10380.0,489.0,NaN,106Nu Psc,NaN,1.690526,5.487613,111.3586,4.45,K3III,Nu,106.0,179.308138,Psc
118268.0,117900,224617.0,9072.0,NaN,28Ome Psc,NaN,23.988525,6.863321,31.9898,4.03,F4IV,Ome,28.0,21.777098,Psc
8198.0,8183,10761.0,510.0,NaN,110Omi Psc,Torcular,1.756564,9.157736,85.6898,4.26,K0III,Omi,110.0,126.473635,Psc
5742.0,5730,7318.0,360.0,NaN,85Phi Psc,NaN,1.229152,24.583713,136.7989,4.67,K0III...,Phi,85.0,220.800473,Psc
4889.0,4879,6118.0,291.0,NaN,69Sig Psc,NaN,1.046971,31.804263,132.9787,5.50,B9.5V,Sig,69.0,97.185170,Psc
115830.0,115465,220954.0,8916.0,NaN,10The Psc,NaN,23.466138,6.378992,45.5373,4.27,K1III,The,10.0,35.383436,Psc
6193.0,6179,7964.0,383.0,NaN,90Ups Psc,NaN,1.324443,27.264059,94.4287,4.74,A3V,Ups,90.0,98.718830,Psc
8833.0,8814,11559.0,549.0,NaN,111Xi Psc,NaN,1.892597,3.187536,54.9149,4.61,K0III SB,Xi,111.0,37.601052,Psc
3760.0,3752,4627.0,221.0,NaN,62 Psc,NaN,0.804836,7.299928,177.6199,5.92,G8III,NaN,62.0,117.706379,Psc
1645.0,1641,1635.0,80.0,NaN,41 Psc,NaN,0.343295,8.190271,125.0000,5.38,K3III,NaN,41.0,95.940063,Psc

In [7]:
Psc_con = ((4889, 6193), (6193, 5742), (5742, 7097), (7097, 8198), (8198, 9487), (9487, 8833), (8833, 7884),
           (7884, 7007), (7007, 4906), (4906, 3760), (3760, 1645), (1645, 118268), (118268, 116771),
           (116771, 115830), (115830, 114971), (114971, 115738), (115738, 116928), (5742, 4889), (116928, 116771))

In [8]:
# ===================================== 2
# Cet = Cetus (кит)

In [9]:
Cet = df.xs('Cet', level='con')
Cet = Cet.loc[[10324, 11484, 12828, 13954, 14135, 12706, 12093, 12387, 10826, 12390, 12770, 11783, 11348, 8102, 3419, 1562, 11345, 8645, 6537, 5364]]
Cet['con'] = 'Cet'

In [10]:
Cet.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
14135.0,14100,18884.0,911.0,NaN,92Alp Cet,Menkar,3.037992,4.089734,76.3942,2.54,M2III,Alp,92.0,489.778819,Cet
3419.0,3413,4128.0,188.0,Gl 31,16Bet Cet,Diphda,0.726490,-17.986605,29.5334,2.04,K0III,Bet,16.0,116.091387,Cet
12387.0,12355,16582.0,779.0,NaN,82Del Cet,NaN,2.658044,0.328511,199.2032,4.08,B2IV,Del,82.0,806.120564,Cet
12390.0,12357,16620.0,781.0,Gl 105.4A,83Eps Cet,NaN,2.659398,-11.872156,21.4823,4.83,F5V,Eps,83.0,4.698941,Cet
5364.0,5353,6805.0,334.0,GJ 3075,31Eta Cet,NaN,1.143164,-10.182264,37.9939,3.46,K2III,Eta,31.0,51.951728,Cet
12706.0,12673,16970.0,804.0,Gl 106.1A,86Gam Cet,Kaffaljidhma,2.721678,3.235818,24.4081,3.47,A3V,Gam,86.0,21.242225,Cet
1562.0,1559,1522.0,74.0,NaN,8Iot Cet,NaN,0.323799,-8.823921,84.1751,3.56,K2III,Iot,8.0,232.487710,Cet
13954.0,13920,18604.0,896.0,NaN,91Lam Cet,NaN,2.995250,8.907365,176.6784,4.71,B6III,Lam,91.0,355.140335,Cet
12828.0,12795,17094.0,813.0,GJ 9099,87Mu Cet,NaN,2.749039,10.114146,25.7732,4.27,F1III-IV,Mu,87.0,11.334438,Cet
12093.0,12062,16161.0,754.0,NaN,78Nu Cet,NaN,2.597909,5.593246,104.2753,4.87,G8III,Nu,78.0,106.757895,Cet
10826.0,10800,14386.0,681.0,NaN,68Omi Cet,Mira,2.322442,-2.977643,91.6590,6.47,M5e-M9e,Omi,68.0,18.897311,Cet
12770.0,12737,17081.0,811.0,NaN,89Pi Cet,NaN,2.735375,-13.858696,120.4819,4.24,B7IV,Pi,89.0,254.683025,Cet
11345.0,11318,15130.0,708.0,NaN,72Rho Cet,NaN,2.432501,-12.290480,139.8601,4.88,A0V,Rho,72.0,190.195396,Cet
11783.0,11755,15798.0,740.0,NaN,76Sig Cet,NaN,2.534786,-15.244677,26.6951,4.74,F5V,Sig,76.0,7.884969,Cet
8102.0,8087,10700.0,509.0,Gl 71,52Tau Cet,NaN,1.734479,-15.937480,3.6502,3.49,G8V,Tau,52.0,0.466445,Cet
6537.0,6523,8512.0,402.0,NaN,45The Cet,NaN,1.400390,-8.183257,34.8918,3.60,K0III,The,45.0,38.512348,Cet
10324.0,10300,13611.0,649.0,NaN,65Xi 1Cet,NaN,2.216665,8.846717,117.5088,4.36,G8II:,Xi-1,65.0,216.770410,Cet
11484.0,11457,15318.0,718.0,NaN,73Xi 2Cet,NaN,2.469317,8.460054,59.2066,4.30,B9III,Xi-2,73.0,58.183521,Cet
8645.0,8628,11353.0,539.0,NaN,55Zet Cet,Baten Kaitos,1.857676,-10.335038,72.0461,3.74,K2III,Zet,55.0,144.277962,Cet
11348.0,11321,15144.0,710.0,NaN,NaN,NaN,2.433431,-15.341247,77.0416,5.88,Ap SrCrEu,NaN,NaN,22.993231,Cet

In [11]:
Cet_con = ((10324, 11484), (11484, 12828), (12828, 13954), (13954, 14135), (14135, 12706), (12706, 12093), (12093, 11484), (12706, 12387),
           (12387, 10826), (10826, 12390), (12390, 12770), (12770, 11783), (11783, 11348), (11348, 8102), (8102, 3419), (3419, 1562),
           (12390, 11345), (11345, 8645), (8645, 6537), (6537, 5364), (5364, 3419))

In [12]:
# ===================================== 3
# And = Andromeda (андромеда)

In [13]:
And = df.xs('And', level='con')
And = And.loc[[9640, 5447, 3092, 677]]
And['con'] = 'And'

In [14]:
And.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
677.0,676,358.0,15.0,NaN,21Alp And,Alpheratz,0.139791,29.090432,29.7442,2.07,B9p,Alp,21.0,114.498553,And
5447.0,5436,6860.0,337.0,Gl 53.3,43Bet And,Mirach,1.162194,35.620558,60.5327,2.07,M0IIIvar,Bet,43.0,474.241985,And
3092.0,3086,3627.0,165.0,NaN,31Del And,NaN,0.655462,30.861024,32.3520,3.27,K3III...,Del,31.0,44.874539,And
9640.0,9618,12533.0,603.0,NaN,57Gam1And,Almach,2.064984,42.329725,120.4819,2.10,B8V,Gam-1,57.0,1828.100216,And

In [15]:
And_con = ((9640, 5447), (5447, 3092), (3092, 677))

In [16]:
# ===================================== 4
# Phe = Phoenix (феникс)

In [17]:
Phe = df.xs('Phe', level='con')
Phe = Phe.loc[[8837, 7083, 5165, 6867, 2072, 2081, 765, 5348]]
Phe['con'] = 'Phe'

In [18]:
Phe.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
2081.0,2076,2261.0,99.0,NaN,Alp Phe,Ankaa,0.438056,-42.305981,25.9740,2.40,K0III...,Alp,NaN,6.444660e+01,Phe
5165.0,5154,6595.0,322.0,NaN,Bet Phe,NaN,1.101407,-46.718414,100000.0000,3.32,G8IIIvar,Bet,NaN,4.092607e+08,Phe
7083.0,7068,9362.0,440.0,NaN,Del Phe,NaN,1.520851,-49.072702,43.5730,3.93,K0III-IV,Del,NaN,4.429962e+01,Phe
765.0,763,496.0,25.0,Gl 9.1,Eps Phe,NaN,0.156836,-45.747426,44.2087,3.88,K0III,Eps,NaN,4.777492e+01,Phe
6867.0,6853,9053.0,429.0,NaN,Gam Phe,NaN,1.472759,-43.318234,71.6332,3.41,K5II-III,Gam,NaN,1.933749e+02,Phe
2072.0,2069,2262.0,100.0,Gl 20,Kap Phe,NaN,0.436716,-43.679829,23.8095,3.93,A7V,Kap,NaN,1.323122e+01,Phe
8837.0,8818,11695.0,555.0,NaN,Psi Phe,NaN,1.894102,-46.302669,104.8218,4.39,M4III SB,Psi,NaN,1.678031e+02,Phe
5348.0,5337,6882.0,338.0,NaN,Zet Phe,Wurren,1.139742,-55.245760,91.5751,3.94,B6V + B0V,Zet,NaN,1.939099e+02,Phe

In [19]:
Phe_con = ((8837, 7083), (7083, 5165), (5165, 8837), (6867, 5165), (2072, 5165), (2072, 6867), (2081, 2072), (765, 2072), (765, 2081), (5348, 5165), (5348, 2072))

In [20]:
# ===================================== 5
# Peg = Pegasus (пегас)

In [21]:
Peg = df.xs('Peg', level='con')
Peg = Peg.loc[[1067, 113963, 113881, 112447, 112029, 109427, 107315, 112158, 109410, 112748, 112440, 109176, 107354]]
Peg = pd.concat([Peg, df.loc['And', 677].to_frame().T], ignore_index=False)
Peg = Peg.rename(index={('And', 677): 677})
Peg['con'] = 'Peg'

In [22]:
Peg.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
113963.0,113603,218045.0,8781.0,NaN,54Alp Peg,Markab,23.079348,15.205264,40.8831,2.49,B9.5III,Alp,54.0,146.96029,Peg
677.0,676,358.0,15.0,NaN,21Alp And,Alpheratz,0.139791,29.090432,29.7442,2.07,B9p,Alp,21.0,114.498553,Peg
113881.0,113521,217906.0,8775.0,NaN,53Bet Peg,Scheat,23.062901,28.082789,60.0962,2.44,M2II-IIIvar,Bet,53.0,332.353304,Peg
107315.0,106972,206778.0,8308.0,NaN,8Eps Peg,Enif,21.736433,9.875011,211.4165,2.38,K2Ibvar,Eps,8.0,4349.106072,Peg
112158.0,111804,215182.0,8650.0,NaN,44Eta Peg,Matar,22.716704,30.221245,65.703,2.93,G2II-III..,Eta,44.0,253.046305,Peg
1067.0,1065,886.0,39.0,NaN,88Gam Peg,Algenib,0.220598,15.183596,120.048,2.83,B2IV,Gam,88.0,926.403101,Peg
109176.0,108830,210027.0,8430.0,Gl 848,24Iot Peg,NaN,22.116847,25.345112,11.7261,3.77,F5V,Iot,24.0,3.718776,Peg
107354.0,107011,206901.0,8315.0,NaN,10Kap Peg,NaN,21.744092,25.645036,34.2231,4.14,F5IV,Kap,10.0,22.532013,Peg
112440.0,112084,215665.0,8667.0,GJ 4295,47Lam Peg,NaN,22.775521,23.565654,111.9821,3.97,G8II-III,Lam,47.0,282.097995,Peg
112748.0,112389,216131.0,8684.0,GJ 4298,48Mu Peg,Sadalbari,22.833385,24.601579,32.5309,3.51,M2III,Mu,48.0,36.341262,Peg
109410.0,109064,210459.0,8454.0,NaN,29Pi 2Peg,NaN,22.166457,33.178224,80.6452,4.28,F5III,Pi-2,29.0,109.951207,Peg
109427.0,109081,210418.0,8450.0,GJ 9771,26The Peg,Biham,22.169996,6.197865,28.2965,3.52,A2V,The,26.0,27.264655,Peg
112447.0,112090,215648.0,8665.0,Gl 872A,46Xi Peg,NaN,22.778216,12.172888,16.2973,4.2,F7V,Xi,46.0,4.835039,Peg
112029.0,111676,214923.0,8634.0,NaN,42Zet Peg,Homam,22.691033,10.831364,62.6566,3.41,B8.5V,Zet,42.0,147.910839,Peg

In [23]:
Peg_con = ((677, 1067), (1067, 113963), (113963, 113881), (113881, 677), (113963, 112447), (112447, 112029),
           (109427, 112029), (107315, 109427), (113881, 112158), (112158, 109410), (113881, 112748),
           (112748, 112440), (112440, 109176), (109176, 107354))

In [24]:
# ===================================== 6
# Scl = Sculptor (скульптор)

In [25]:
Scl = df.xs('Scl', level='con')
Scl = Scl.loc[[4577, 115102, 116231]]
Scl['con'] = 'Scl'

In [26]:
Scl.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
4577.0,4567,5737.0,280.0,NaN,Alp Scl,NaN,0.976766,-29.357449,238.0952,4.30,B7IIIp,Alp,NaN,941.022484,Scl
116231.0,115865,221507.0,8937.0,NaN,Bet Scl,NaN,23.549512,-37.818268,53.3618,4.38,B9.5IVMNpe.,Bet,NaN,43.893479,Scl
115102.0,114740,219784.0,8863.0,GJ 9821,Gam Scl,NaN,23.313733,-32.532027,55.8659,4.41,K1III,Gam,NaN,46.816614,Scl

In [27]:
Scl_con = ((4577, 115102), (115102, 116231), (116231, 4577))

In [28]:
# ===================================== 7
# Cas = Cassiopeia (кассиопея)

In [29]:
Cas = df.xs('Cas', level='con')
Cas = Cas.loc[[8886, 6686, 4427, 3179, 746]]
Cas['con'] = 'Cas'

In [30]:
Cas.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
3179.0,3172,3712.0,168.0,NaN,18Alp Cas,Schedar,0.675116,56.537331,69.9790,2.24,K0II-IIIvar,Alp,18.0,542.000890,Cas
746.0,744,432.0,21.0,Gl 8,11Bet Cas,Caph,0.152887,59.149780,16.7842,2.28,F2III-IV,Bet,11.0,30.060763,Cas
6686.0,6672,8538.0,403.0,NaN,37Del Cas,Ruchbah,1.430216,60.235283,30.4785,2.66,A5Vv SB,Del,37.0,69.823240,Cas
8886.0,8867,11415.0,542.0,NaN,45Eps Cas,Segin,1.906584,63.670101,126.2626,3.35,B2pvar,Eps,45.0,634.453796,Cas
4427.0,4417,5394.0,264.0,NaN,27Gam Cas,Cih,0.945143,60.716740,168.3502,2.15,B0IV:evar,Gam,27.0,3407.218617,Cas

In [31]:
Cas_con = ((8886, 6686), (6686, 4427), (4427, 3179), (3179, 746))

In [32]:
# ===================================== 8
# Oct = Octans (октант)

In [33]:
Oct = df.xs('Oct', level='con')
Oct = Oct.loc[[70638, 107089, 112405]]
Oct['con'] = 'Oct'

In [34]:
Oct.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
112405.0,112050,214846.0,8630.0,NaN,Bet Oct,NaN,22.767692,-81.381615,45.7666,4.13,A9IV/V,Bet,NaN,40.663055,Oct
70638.0,70415,124882.0,5339.0,NaN,Del Oct,NaN,14.448801,-83.667884,91.6590,4.31,K2III,Del,NaN,138.165623,Oct
107089.0,106746,205478.0,8254.0,Gl 835.1,Nu Oct,NaN,21.691253,-77.390046,21.1999,3.73,K0III,Nu,NaN,12.612466,Oct

In [35]:
Oct_con = ((70638, 107089), (107089, 112405), (112405, 70638))

In [36]:
# ===================================== 9
# Cep = Cepheus (цефей)

In [37]:
Cep = df.xs('Cep', level='con')
Cep = Cep.loc[[116727, 112724, 109492, 105199, 106032]]
Cep['con'] = 'Cep'

In [38]:
Cep.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
105199.0,104861,203280.0,8162.0,Gl 826,5Alp Cep,Alderamin,21.309630,62.585573,15.0376,2.45,A7IV-V,Alp,5.0,20.625287,Cep
106032.0,105691,205021.0,8238.0,NaN,8Bet Cep,Alfirk,21.477662,70.560716,210.0840,3.23,B2IIIv SB,Bet,8.0,1962.456324,Cep
116727.0,116361,222404.0,8974.0,Gl 903,35Gam Cep,Errai,23.655820,77.632276,14.1024,3.21,K1IV,Gam,35.0,9.003264,Cep
112724.0,112364,216228.0,8694.0,NaN,32Iot Cep,NaN,22.828020,66.200408,35.3482,3.50,K0III,Iot,32.0,43.331129,Cep
109492.0,109146,210745.0,8465.0,NaN,21Zet Cep,NaN,22.180908,58.201261,256.4103,3.39,K1Ibv SB,Zet,21.0,2523.480772,Cep

In [39]:
Cep_con = ((116727, 112724), (112724, 109492), (109492, 105199), (105199, 106032), (106032, 116727), (106032, 112724))

In [40]:
# ===================================== 10
# Tuc = Tucana (тукан)

In [41]:
Tuc = df.xs('Tuc', level='con')
Tuc = Tuc.loc[[110130, 114996, 2484, 1599]]
Tuc['con'] = 'Tuc'

In [42]:
Tuc.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
110130.0,109784,211416.0,8502.0,NaN,Alp Tuc,NaN,22.308371,-60.259587,61.2370,2.87,K3III,Alp,NaN,232.273680,Tuc
2484.0,2478,2884.0,126.0,NaN,Bet1Tuc,NaN,0.525725,-62.958218,41.4079,4.36,B9V,Bet-1,NaN,26.915348,Tuc
114996.0,114634,219571.0,8848.0,GJ 9818,Gam Tuc,NaN,23.290498,-58.235734,23.0574,3.99,F1III,Gam,NaN,11.738159,Tuc
1599.0,1595,1581.0,77.0,Gl 17,Zet Tuc,NaN,0.334142,-64.874791,8.5866,4.23,F9V,Zet,NaN,1.304968,Tuc

In [43]:
Tuc_con = ((110130, 114996), (114996, 2484), (114996, 1599))

In [44]:
# ===================================== 11
# Hyi = Hydrus (южная гидра)

In [45]:
Hyi = df.xs('Hyi', level='con')
Hyi = Hyi.loc[[9236, 11001, 12394, 17678, 2021]]
Hyi['con'] = 'Hyi'

In [46]:
Hyi.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
9236.0,9217,12311.0,591.0,Gl 83,Alp Hyi,NaN,1.979451,-61.569859,22.0119,2.86,F0V,Alp,NaN,30.283077,Hyi
2021.0,2016,2151.0,98.0,Gl 19,Bet Hyi,NaN,0.427916,-77.254247,7.4588,2.82,G2IV,Bet,NaN,3.607447,Hyi
11001.0,10975,15008.0,705.0,Gl 97.1,Del Hyi,NaN,2.362498,-68.659418,42.8266,4.08,A3V,Del,NaN,37.290654,Hyi
12394.0,12360,16978.0,806.0,NaN,Eps Hyi,NaN,2.659799,-68.266946,46.5549,4.12,B9III,Eps,NaN,42.461956,Hyi
17678.0,17637,24512.0,1208.0,NaN,Gam Hyi,NaN,3.787295,-74.238962,65.6168,3.26,M2III,Gam,NaN,186.208714,Hyi

In [47]:
Hyi_con = ((9236, 11001), (11001, 12394), (12394, 17678), (17678, 2021))

In [48]:
# ===================================== 12
# UMi = Ursa Minor (малая медведица)

In [49]:
UMi = df.xs('UMi', level='con')
UMi = UMi.loc[[11767, 85822, 82080, 77055, 79822, 75097, 72607]]
UMi['con'] = 'UMi'

In [50]:
UMi.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
11767.0,11734,8890.0,424.0,NaN,1Alp UMi,Polaris,2.529750,89.264109,132.6260,1.97,F7:Ib-IIv SB,Alp,1.0,2495.743795,UMi
72607.0,72380,131873.0,5563.0,NaN,7Bet UMi,Kochab,14.845105,74.155505,40.1445,2.07,K4IIIvar,Bet,7.0,208.545105,UMi
85822.0,85560,166205.0,6789.0,NaN,23Del UMi,Yildun,17.536918,86.586460,52.7704,4.35,A1Vn,Del,23.0,44.136714,UMi
82080.0,81830,153751.0,6322.0,NaN,22Eps UMi,NaN,16.766159,82.037262,93.1966,4.21,G5IIIvar,Eps,22.0,156.602972,UMi
79822.0,79580,148048.0,6116.0,GJ 3950A,21Eta UMi,NaN,16.291791,75.755330,29.7354,4.95,F5V,Eta,21.0,8.061206,UMi
75097.0,74868,137422.0,5735.0,NaN,13Gam UMi,Pherkad,15.345483,71.834016,149.2537,3.00,A3II-III,Gam,13.0,1224.616199,UMi
77055.0,76819,142105.0,5903.0,NaN,16Zet UMi,NaN,15.734299,77.794493,113.1222,4.29,A3Vn,Zet,16.0,214.387767,UMi

In [51]:
UMi_con = ((11767, 85822), (85822, 82080), (82080, 77055), (77055, 79822), (79822, 75097), (75097, 72607), (72607, 77055))

In [52]:
# ===================================== 13
# Eri = Eridan (эридан)

In [53]:
Eri = df.xs('Eri', level='con')
Eri = Eri.loc[[21594, 23972, 23875, 22701, 22109, 21444, 17378, 16537, 15197, 13701, 12843, 14146, 15474, 16611,
               17651, 21393, 20535, 20042, 17874, 17797, 15510, 13847, 12486, 12413, 11407, 10602, 9007, 7588]]
Eri['con'] = 'Eri'

In [54]:
Eri.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
7588.0,7574,10144.0,472.0,NaN,Alp Eri,Achernar,1.628556,-57.236757,42.7533,0.45,B3Vp,Alp,NaN,1051.961874,Eri
23875.0,23820,33111.0,1666.0,GJ 9175,67Bet Eri,Cursa,5.130829,-5.086446,27.3973,2.78,A3IIIvar,Bet,67.0,50.535899,Eri
9007.0,8989,11937.0,566.0,Gl 81A,Chi Eri,NaN,1.932564,-51.608896,17.8508,3.69,G5IV,Chi,NaN,9.272567,Eri
17378.0,17336,23249.0,1136.0,Gl 150,23Del Eri,Rana,3.720806,-9.763395,9.0408,3.52,K0IV,Del,23.0,2.782275,Eri
16537.0,16496,22049.0,1084.0,Gl 144,18Eps Eri,Ran,3.548848,-9.458262,3.2161,3.72,K2V,Eps,18.0,0.292954,Eri
13701.0,13667,18322.0,874.0,NaN,3Eta Eri,Azha,2.940458,-8.898144,41.8585,3.89,K1III-IV,Eta,3.0,42.422865,Eri
12486.0,12452,16815.0,794.0,NaN,Iot Eri,NaN,2.677781,-39.855375,46.1894,4.11,K0III,Iot,NaN,42.189075,Eri
11407.0,11380,15371.0,721.0,NaN,Kap Eri,NaN,2.449755,-47.703840,155.7632,4.24,B5IV,Kap,NaN,425.402463,Eri
23972.0,23917,33328.0,1679.0,NaN,69Lam Eri,NaN,5.152440,-8.754081,248.7562,4.25,B2IVn,Lam,69.0,1075.474209,Eri
22109.0,22056,30211.0,1520.0,NaN,57Mu Eri,NaN,4.758375,-3.254657,160.0000,4.01,B5IV,Mu,57.0,555.136777,Eri
21444.0,21391,29248.0,1463.0,NaN,48Nu Eri,NaN,4.605317,-3.352459,207.0393,3.93,B2III SB,Nu,48.0,1000.000000,Eri
22701.0,22648,31109.0,1560.0,NaN,61Ome Eri,NaN,4.881575,-5.452695,72.0461,4.36,A9IV,Ome,61.0,81.507956,Eri
10602.0,10578,14228.0,674.0,NaN,Phi Eri,NaN,2.275154,-51.512165,47.1254,3.56,B8IV-V,Phi,NaN,72.845042,Eri
12843.0,12810,17206.0,818.0,Gl 111,1Tau1Eri,NaN,2.751715,-18.572563,14.2207,4.47,F5/F6V,Tau-1,1.0,2.870781,Eri
14146.0,14112,18978.0,919.0,Gl 121,11Tau3Eri,NaN,3.039863,-23.624472,27.1739,4.08,A4V,Tau-3,11.0,15.010667,Eri
15474.0,15436,20720.0,1003.0,NaN,16Tau4Eri,NaN,3.325278,-21.757864,93.3707,3.70,M3/M4III,Tau-4,16.0,251.420103,Eri
16611.0,16570,22203.0,1088.0,NaN,19Tau5Eri,NaN,3.563132,-21.632883,89.9281,4.26,B9V,Tau-5,19.0,139.187425,Eri
17651.0,17609,23754.0,1173.0,Gl 155,27Tau6Eri,NaN,3.780804,-23.249723,17.6274,4.22,F3/F5V,Tau-6,27.0,5.551368,Eri
13847.0,13813,18622.0,897.0,NaN,The1Eri,Acamar,2.971023,-40.304672,49.4315,2.88,A4III+...,The-1,NaN,149.968484,Eri
21393.0,21340,29291.0,1464.0,NaN,52Ups2Eri,Theemin,4.592512,-30.562341,65.5738,3.81,G8III,Ups-2,52.0,112.098551,Eri
20042.0,19992,27376.0,1347.0,NaN,41Ups4Eri,NaN,4.298237,-33.798348,54.5554,3.55,B9V,Ups-4,41.0,98.537151,Eri
15197.0,15159,20320.0,984.0,NaN,13Zet Eri,Zibal,3.263896,-8.819730,33.6474,4.80,A5m,Zet,13.0,11.857687,Eri
21594.0,21541,29503.0,1481.0,GJ 9160A,53 Eri,Sceptrum,4.636340,-14.304020,33.6814,3.86,K1III,NaN,53.0,28.235794,Eri
20535.0,20483,28028.0,1393.0,NaN,43 Eri,Beemim,4.400613,-34.016846,90.8265,3.97,K4III,NaN,43.0,185.523958,Eri
17874.0,17833,24160.0,1195.0,NaN,NaN,NaN,3.824237,-36.200250,64.3501,4.17,G8III,NaN,NaN,77.481853,Eri
17797.0,17757,24071.0,1189.0,NaN,NaN,NaN,3.809963,-37.620155,50.7357,4.30,A+...,NaN,NaN,42.736603,Eri
15510.0,15471,20794.0,1008.0,Gl 139,NaN,82 G. Eri,3.331944,-43.069784,6.0434,4.26,G8V,NaN,NaN,0.628637,Eri
12413.0,12381,16754.0,789.0,NaN,NaN,NaN,2.663326,-42.891670,35.6888,4.74,A2V,NaN,NaN,14.099379,Eri

In [55]:
Eri_con = ((21594, 23972), (23972, 23875), (23875, 22701), (22701, 22109), (22109, 21444), (21444, 17378),
          (17378, 16537), (16537, 15197), (15197, 13701), (13701, 12843), (12843, 14146), (14146, 15474),
          (15474, 16611), (16611, 17651), (17651, 21393), (21393, 20535), (20535, 20042), (20042, 17874), 
          (17874, 17797), (17797, 15510), (15510, 13847), (13847, 12486), (12486, 12413), (12413, 11407),
          (11407, 10602), (10602, 9007), (9007, 7588))

In [56]:
# ===================================== 14
# Per = Perseus (персей)

In [57]:
Per = df.xs('Per', level='con')
Per = Per.loc[[17448, 18246, 18614, 18532, 17358, 15863, 14328, 13268, 13254, 14354, 14576]]
Per['con'] = 'Per'

In [58]:
Per.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
15863.0,15824,20902.0,1017.0,NaN,33Alp Per,Mirfak,3.405378,49.861180,155.2795,1.79,F5Ib,Alp,33.0,4040.173354,Per
14576.0,14540,19356.0,936.0,NaN,26Bet Per,Algol,3.136148,40.955648,27.5710,2.09,B8V,Bet,26.0,96.560610,Per
17358.0,17316,22928.0,1122.0,NaN,39Del Per,NaN,3.715416,47.787551,158.2278,3.01,B5III SB,Del,39.0,1362.699197,Per
18532.0,18485,24760.0,1220.0,NaN,45Eps Per,NaN,3.964230,40.010215,195.6947,2.90,B0.5V,Eps,45.0,2307.809730,Per
13268.0,13234,17506.0,834.0,NaN,15Eta Per,Miram,2.844945,55.895496,269.5418,3.77,K3Ib comp SB,Eta,15.0,1964.264646,Per
14328.0,14292,18925.0,915.0,NaN,23Gam Per,NaN,3.079942,53.506440,74.5712,2.91,G8III+...,Gam,23.0,332.047336,Per
17448.0,17406,23180.0,1131.0,NaN,38Omi Per,Atik,3.738648,32.288248,343.6426,3.84,B1III,Omi,38.0,2995.021884,Per
14354.0,14318,19058.0,921.0,NaN,25Rho Per,NaN,3.086270,38.840274,94.3396,3.32,M3IIIvar,Rho,25.0,364.082664,Per
18614.0,18567,24912.0,1228.0,NaN,46Xi Per,Menkib,3.982750,35.791033,381.6794,3.98,O7.5Iab:,Xi,46.0,3244.890157,Per
18246.0,18201,24398.0,1203.0,NaN,44Zet Per,NaN,3.902200,31.883635,230.4147,2.84,B1Ib,Zet,44.0,3382.205567,Per
13254.0,13221,17584.0,840.0,NaN,16 Per,NaN,2.843063,38.318644,37.0233,4.22,F2III,NaN,16.0,24.479357,Per

In [59]:
Per_con = ((17448, 18246), (18246, 18614), (18614, 18532), (18532, 17358), (17358, 15863), (15863, 14328), (14328, 13268), (13254, 14354), (14354, 14576), (14576, 15863))

In [60]:
# ===================================== 15
# Tri = Triangulum (треугольник)

In [61]:
Tri = df.xs('Tri', level='con')
Tri = Tri.loc[[10670, 10064, 8796]]
Tri['con'] = 'Tri'

In [62]:
Tri.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
8796.0,8777,11443.0,544.0,Gl 78.1,2Alp Tri,Mothallah,1.884696,29.578829,19.4175,3.42,F6IV,Alp,2.0,14.073431,Tri
10064.0,10041,13161.0,622.0,NaN,4Bet Tri,NaN,2.159058,34.987297,38.8954,3.00,A5III,Bet,4.0,83.099804,Tri
10670.0,10645,14055.0,664.0,NaN,9Gam Tri,NaN,2.288573,33.847194,34.4353,4.03,A1Vnn,Gam,9.0,25.234808,Tri

In [63]:
Tri_con = ((10670, 10064), (10064, 8796), (8796, 10670))

In [64]:
# ===================================== 16
# For = Fornax (печь)

In [65]:
For = df.xs('For', level='con')
For = For.loc[[14879, 13147]]
For['con'] = 'For'

In [66]:
For.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
14879.0,14843,20010.0,963.0,Gl 127A,Alp For,Dalim,3.201249,-28.987618,14.2369,3.80,F8V,Alp,NaN,5.330893,For
13147.0,13114,17652.0,841.0,NaN,Bet For,NaN,2.818169,-32.405898,52.9381,4.45,G8III,Bet,NaN,40.513522,For

In [67]:
For_con = ((14879, 13147))

In [68]:
# ===================================== 17
# Ari = Aries (Овен)

In [69]:
Ari = df.xs('Ari', level='con')
Ari = Ari.loc[[13209, 9884, 8903, 8832]]
Ari['con'] = 'Ari'

In [70]:
Ari.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
9884.0,9861,12929.0,617.0,Gl 84.3,13Alp Ari,Hamal,2.119555,23.462423,20.1776,2.01,K2III,Alp,13.0,55.667280,Ari
8903.0,8884,11636.0,553.0,Gl 80,6Bet Ari,Sheratan,1.910668,20.808035,17.9856,2.64,A5V...,Bet,6.0,24.774221,Ari
8832.0,8813,11502.0,546.0,NaN,5Gam2Ari,Mesarthim,1.892170,19.293852,50.3018,3.88,A1p Si,Gam-2,5.0,61.830107,Ari
13209.0,13176,17573.0,838.0,NaN,41 Ari,Bharani,2.833063,27.260507,50.7872,3.61,B8Vn,NaN,41.0,80.835104,Ari

In [71]:
Ari_con = ((13209, 9884), (9884, 8903), (8903, 8832))

In [72]:
# ===================================== 18
# Hor = Horologium (часы)

In [73]:
Hor = df.xs('Hor', level='con')
Hor = Hor.loc[[19747, 12484, 14240]]
Hor['con'] = 'Hor'

In [74]:
Hor.sort_values(by='bayer')

,id,hd,hr,gl,bf,proper,ra,dec,dist,mag,spect,bayer,flam,lum,con
hip,,,,,,,,,,,,,,,
19747.0,19697,26967.0,1326.0,NaN,Alp Hor,NaN,4.233363,-42.294368,35.2609,3.85,K1III,Alp,NaN,31.217635,Hor
14240.0,14206,19319.0,934.0,NaN,Mu Hor,NaN,3.060239,-59.737775,43.4028,5.12,F0IV,Mu,NaN,14.696029,Hor
12484.0,12451,16920.0,802.0,NaN,Zet Hor,NaN,2.677666,-54.549911,49.0918,5.21,F4IV,Zet,NaN,17.298164,Hor

In [75]:
Hor_con = ((19747, 12484), (12484, 14240))

!CONCLUSION!

!CONCLUSION!

!CONCLUSION!

In [76]:
# 'Psc', 'Cet', 'And', 'Phe', 'Peg', 'Scl', 'Cas', 'Oct', 'Cep',
# 'Tuc', 'Hyi', 'UMi', 'Eri', 'Per', 'Tri', 'For', 'Ari', 'Hor',

In [77]:
part_2_df = pd.concat([Psc, Cet, And, Phe, Peg, Scl, Cas, Oct, Cep, Tuc, Hyi, UMi, Eri, Per, Tri, For, Ari, Hor])
part_2_df['hip'] = part_2_df.index
part_2_df.to_csv('part_2_df.csv', index=False)

In [ ]:
Psc_con = ((4889, 6193), (6193, 5742), (5742, 7097), (7097, 8198), (8198, 9487), (9487, 8833), (8833, 7884),
           (7884, 7007), (7007, 4906), (4906, 3760), (3760, 1645), (1645, 118268), (118268, 116771),
           (116771, 115830), (115830, 114971), (114971, 115738), (115738, 116928), (5742, 4889), (116928, 116771))
Cet_con = ((10324, 11484), (11484, 12828), (12828, 13954), (13954, 14135), (14135, 12706), (12706, 12093), (12093, 11484), (12706, 12387),
           (12387, 10826), (10826, 12390), (12390, 12770), (12770, 11783), (11783, 11348), (11348, 8102), (8102, 3419), (3419, 1562),
           (12390, 11345), (11345, 8645), (8645, 6537), (6537, 5364), (5364, 3419))
And_con = ((9640, 5447), (5447, 3092), (3092, 677))
Phe_con = ((8837, 7083), (7083, 5165), (5165, 8837), (6867, 5165), (2072, 5165), (2072, 6867), (2081, 2072), (765, 2072), (765, 2081), (5348, 5165), (5348, 2072))
Peg_con = ((677, 1067), (1067, 113963), (113963, 113881), (113881, 677), (113963, 112447), (112447, 112029),
           (109427, 112029), (107315, 109427), (113881, 112158), (112158, 109410), (113881, 112748),
           (112748, 112440), (112440, 109176), (109176, 107354))
Scl_con = ((4577, 115102), (115102, 116231), (116231, 4577))
Cas_con = ((8886, 6686), (6686, 4427), (4427, 3179), (3179, 746))
Oct_con = ((70638, 107089), (107089, 112405), (112405, 70638))
Cep_con = ((116727, 112724), (112724, 109492), (109492, 105199), (105199, 106032), (106032, 116727), (106032, 112724))
Tuc_con = ((110130, 114996), (114996, 2484), (114996, 1599))
Hyi_con = ((9236, 11001), (11001, 12394), (12394, 17678), (17678, 2021))
UMi_con = ((11767, 85822), (85822, 82080), (82080, 77055), (77055, 79822), (79822, 75097), (75097, 72607), (72607, 77055))
Eri_con = ((21594, 23972), (23972, 23875), (23875, 22701), (22701, 22109), (22109, 21444), (21444, 17378),
          (17378, 16537), (16537, 15197), (15197, 13701), (13701, 12843), (12843, 14146), (14146, 15474),
          (15474, 16611), (16611, 17651), (17651, 21393), (21393, 20535), (20535, 20042), (20042, 17874), 
          (17874, 17797), (17797, 15510), (15510, 13847), (13847, 12486), (12486, 12413), (12413, 11407),
          (11407, 10602), (10602, 9007), (9007, 7588))
Per_con = ((17448, 18246), (18246, 18614), (18614, 18532), (18532, 17358), (17358, 15863), (15863, 14328), (14328, 13268), (13254, 14354), (14354, 14576), (14576, 15863))
Tri_con = ((10670, 10064), (10064, 8796), (8796, 10670))
For_con = ((14879, 13147))
Ari_con = ((13209, 9884), (9884, 8903), (8903, 8832))
Hor_con = ((19747, 12484), (12484, 14240))